{% extends 'base.html' %}

{% block title %}
  <title>approve_order</title>
{% endblock %}

{% block content %}
  <div class="approve-order-container">
    <h1>Approve Order</h1>
    <div class="order-table">
      {% if orders %}
        <div class="order-header">
          <div>Item</div>
          <div>Borrower</div>
          <div>Start Time</div>
          <div>End Time</div>
          <div class="confirm">Confirm</div>
        </div>
        {% for order in orders %}
          <div class="order-row">
            <div>{{ order.item.item_name }}</div>
            <div>{{ order.borrower.username }}</div>
            <div>{{ order.start_time }}</div>
            <div>{{ order.end_time }}</div>
            <div class="confirm">
              <form method="post" action="{% url 'update_order_status_approve' order.order_id %}">
                {% csrf_token %}
                <button type="submit" name="decision" value="accept" class="accept-btn">Accept</button>
                <button type="submit" name="decision" value="deny" class="deny-btn">Deny</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>there is no order need to be approved</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
