{% extends 'base.html' %}

{% load static %}

{% block title %}
  <title>{{ item.item_name }} Detail</title>
{% endblock %}

{% block content %}
  <script>
    document.addEventListener('DOMContentLoaded', async function () {
      if (window.ethereum) {
          window.web3 = new Web3(ethereum);
          const response = await fetch('{% static "abi/ShareTokenABI.json" %}');
          const contractABI = await response.json();
          const contractAddress = '0x146dBaE602B862835797c82011cdFe1AbCcb46F0';
          const contract = new web3.eth.Contract(contractABI, contractAddress);
  
          document.getElementById('borrowForm').addEventListener('submit', async function (event) {
              event.preventDefault();

              const statusInput = document.getElementById('transactionStatus');
              statusInput.value = 'unpaid'; 
  
              var start_time = new Date(document.getElementsByName('start_time')[0].value);
              var end_time = new Date(document.getElementsByName('end_time')[0].value);
              var currentTime = new Date();
              var oneDayAhead = new Date(currentTime);
              oneDayAhead.setDate(currentTime.getDate() + 1);
  
              if (start_time <= oneDayAhead) {
                  alert('借用開始時間必須要在未來一天之後開始');
                  return false;
              }
  
              if (end_time <= start_time) {
                  alert('物品歸還時間必須在開始時間之後');
                  return false;
              }
  
              var fourteenDaysLater = new Date(start_time);
              fourteenDaysLater.setDate(start_time.getDate() + 14);
              if (end_time > fourteenDaysLater) {
                  alert('歸還時間必須在借用開始時間14天以內');
                  return false;
              }
  
              if (!localStorage.getItem('walletConnected')) {      
                alert('Please connect your wallet');
                return
              }
  
              const depositAmount = 99;
              const accounts = await web3.eth.getAccounts();
              const account = accounts[0];
  
              contract.methods
                  .payDeposit(depositAmount)
                  .send({ from: account })
                  .on('transactionHash', function (hash) {
                      console.log('Transaction Hash:', hash);
                  })
                  .on('receipt', function (receipt) {
                      console.log('Receipt:', receipt);
                      statusInput.value = 'pending';  
                      document.getElementById('borrowForm').submit();
                  })
                  .on('error', function (error, receipt) {
                      console.error('Error:', error);
                      document.getElementById('borrowForm').submit();
                      alert('Transaction failed!');
                  });
          });
      } else {
          alert('Non-Ethereum browser detected. You should consider trying MetaMask!');
      }
  });
  
  </script>

  <div class="borrow-request-container">
    <div class="borrow-request-card">
      <img src="{{ item.item_image.url }}" alt="{{ item.item_name }}" />
      <div class="details">
        <h2>Request Detail</h2>

        <p>Deposit Required: {{ item.item_deposit_require }}</p>
        <p>Item Address: {{ item.item_address }}</p>

        <form id="borrowForm" action="{% url 'borrow_item' item.pk %}" method="post">
          {% csrf_token %}

          <input type="hidden" id="transactionStatus" name="transaction_status" value="unpaid" />


          <p>start:</p>
          <input type="datetime-local" name="start_time" required />
          <br />
          <p>end:</p>
          <input type="datetime-local" name="end_time" required />
          <br />
          <div class="request-submit-btn">
            <button type="submit">借用</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
