{% extends 'base.html' %}

{% block title %}
  <title>user orders</title>
{% endblock %}

{% block content %}
  <script>
    function transaction_processing() {
      var transaction_processing = document.getElementById('transaction_processing');
      document.getElementById('hashDisplay').innerText = transactionHash;
      transaction_processing.style.display = "block";
    }
  </script>

  <form method="post" action="{% url 'borrower_submit_review' order_id %}" class="contributor-review-container">
    {% csrf_token %}

    <h2>Borrower review</h2>
    
    <label for="review_comment">Comment:</label>
    <textarea name="review_comment" id="review_comment" placeholder="Give your contributor some comments"required></textarea>

    <label>Feeling:</label>
    <div class="review-result">
      <input type="radio" name="review_result" id="like" value="like" required />
      <label for="like" class="button-like">😁</label>
      <input type="radio" name="review_result" id="dislike" value="dislike" required />
      <label for="dislike" class="button-dislike">😱</label>
    </div>

    <input type="submit" value="Submit Review" />

  </form>

  <div id="transaction_processing" class="transaction_processing">
    <div class="transaction_processing-content">
      <p style="font-size: 50px;">Transaction Processing...</p>
    </div>
  </div>
{% endblock %}
