{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  <title>{% trans "user history orders" %}</title>
{% endblock %}

{% block content %}
  <h1>{% trans "User History Orders" %}
  </h1>
  {% if borrower_history_orders %}
    <ul>
      {% for order in borrower_history_orders %}
        <li>Order ID: {{ order.order_id }}</li>
        <li>{% trans "Borrower:" %} {{ order.borrower }}</li>
        <li>{% trans "Item:" %} {{ order.item.item_name }}</li>
        <li>{% trans "start:" %} {{ order.start_time }}</li>
        <li>{% trans "end:" %}: {{ order.end_time }}</li>
        <li>{% trans "Status:" %} {{ order.status }}</li>
        <hr/>
      {% endfor %}
    </ul>
  {% else %}
    <p>{% trans "No history orders found !!!!!" %}</p>
  {% endif %}
{% endblock %}
