{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
  <title>{% trans "Borrower history dashboard" %}</title>
{% endblock %}

{% block content %}
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Get comment (Hidden) -->
  <div id="comments-container" style="display: none;">
    {% for review in reviews %}
      <div class="comment">{{ review.review_comment }}</div>
    {% endfor %}
  </div>

  <div class="user-info-container">
    <button class="action-button"  onclick="history.back()"><img src="{% static 'images/back-arrow-icon.svg' %}" alt="back-arrow-icon" style="width:15px; margin-right: 10px;" />{% trans "Back" %}</button>
    <div class="user-info-borrower">
      <span>{% trans "Borrower:" %} {{ borrower.username }}</span>
      <span>{% trans "Wallet Address:" %} {{ borrower_wallet_address }}</span>
      <span>{% trans "Email:" %} {{ borrower.email }}</span>
    </div>
  </div>

  <section class="user-dashboard">
    <div id="word-cloud" class="word-cloud"></div>

    <div class="likeDislike-pie-chart">
      <canvas id="likeDislikeChart"></canvas>
    </div>

    <div class="weeklyOrder-line-chart">
      <canvas id="weeklyOrderChart"></canvas>
    </div>

    <div class="statistics">
      <div class="stat">
        <p>{% trans "Not Picked Up Percentage" %}</p>
        <p>{{ not_picked_up_percentage }}%</p>
      </div>
      <div class="stat">
        <p>{% trans "Denial Percentage" %} </p>
        <p>{{ deny_percentage }}%</p>
      </div>
      <div class="stat">
        <p>{% trans "Average Overdue Pick-Up Time " %}</p>
        <p>{{ average_overdue_pick_up_time }} min</p>
      </div>
      <div class="stat">
        <p>{% trans "Average Breakage" %}</p>
        <p>{{ average_breakage }}</p>
      </div>
    </div>
  </section>

  <script>
    const stopWords = new Set([
      // Articles
      'a',
      'an',
      'the',
      // Conjunctions
      'and',
      'but',
      'or',
      'nor',
      'so',
      'yet',
      // Prepositions
      'at',
      'by',
      'for',
      'from',
      'in',
      'into',
      'on',
      'out',
      'to',
      'with',
      'over',
      'under',
      'after',
      'before',
      'between',
      'about',
      'against',
      'among',
      // Pronouns
      'i',
      'you',
      'he',
      'she',
      'it',
      'we',
      'they',
      'me',
      'him',
      'her',
      'us',
      'them',
      'my',
      'mine',
      'your',
      'yours',
      'his',
      'hers',
      'its',
      'our',
      'ours',
      'their',
      'theirs',
      // Other linking words
      'as',
      'if',
      'then',
      'than',
      'which',
      'what',
      'who',
      'whom',
      'whose',
      'this',
      'that',
      'these',
      'those',
      'is',
      'are',
      'was',
      'were',
      'be',
      'been',
      'being',
      'can',
      'could',
      'will',
      'would',
      'shall',
      'should',
      'may',
      'might',
      'do',
      'does',
      'did',
      'done',
      'has',
      'have',
      'had'
    ])
    
    const comments = Array.from(document.querySelectorAll('#comments-container .comment')).map((div) => div.innerText.trim())
    
    const words = {}
    comments.forEach((comment) => {
      const tokens = comment.split(/\s+/)
      tokens.forEach((token) => {
        token = token.toLowerCase().replace(/[^\w]/g, '')
        if (!stopWords.has(token) && token) {
          words[token] = (words[token] || 0) + 1
        }
      })
    })
    
    const wordArray = Object.entries(words).map(([text, size]) => ({ text, size }))
    
    const colorScale = d3.scaleOrdinal(d3.schemeCategory10)
    
    d3.layout
      .cloud()
      .size([800, 300])
      .words(wordArray)
      .padding(5)
      .rotate(() => 0)
      .font('Impact')
      .fontSize((d) => d.size * 45)
      .on('end', draw)
      .start()
    
    function draw(words) {
      d3.select('#word-cloud')
        .append('svg')
        .attr('width', 800)
        .attr('height', 300)
        .append('g')
        .attr('transform', 'translate(400, 170)')
        .selectAll('text')
        .data(words)
        .enter()
        .append('text')
        .style('font-size', (d) => d.size + 'px')
        .style('font-family', 'Impact')
        .style('fill', (d) => colorScale(d.text))
        .attr('text-anchor', 'middle')
        .attr('transform', (d) => 'translate(' + [d.x, d.y] + ')rotate(' + d.rotate + ')')
        .text((d) => d.text)
    }
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('likeDislikeChart').getContext('2d');
        var likeCount = {{ like_count }}; 
        var dislikeCount = {{ dislike_count }};
    
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Likes', 'Dislikes'],
                datasets: [{
                    label: 'Count',
                    data: [likeCount, dislikeCount],
                    backgroundColor: [
                      'rgba(59,178,0, 0.6)',
                      'rgba(255,0,0, 0.6)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                    title: {
                      display: true,
                      text: 'Review',
                      font: {
                          size: 25
                      },
                      padding: {
                          top: 10,
                          bottom: 10
                      }
                  }
                }
            }
        });
    });
  </script>

  <script>
      document.addEventListener('DOMContentLoaded', function () {
          const ctx = document.getElementById('weeklyOrderChart').getContext('2d');
          const weeks = [];
          const counts = [];
      
          {% for week, count in weekly_order_counts_in_past_three_months %}
              weeks.push('{{ week|date:"Y-m-d" }}');
              counts.push({{ count }});
          {% endfor %}
      
          const weeklyOrderChart = new Chart(ctx, {
              type: 'line',
              data: {
                  labels: weeks,
                  datasets: [{
                      label: 'Weekly Contributions',
                      data: counts, 
                      borderColor: 'rgba(112, 48, 160, 1)',
                      backgroundColor: 'rgba(112, 48, 160, 0.2)',
                      fill: true
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  },
                  responsive: true,
                  plugins: {
                      legend: {
                          display: false,
                          position: 'top'
                      },
                      title: {
                        display: true,
                        text: 'Weekly borrowe from the past quarter',
                        font: {
                            size: 25
                        },
                        padding: {
                            top: 0,
                            bottom: 10
                        }
                    }
                  }
              }
          });
      });
  </script>
{% endblock %}
