{% extends 'base.html' %}

{% block title %}
  <title>contributor order status</title>
{% endblock %}

{% block content %}
<script>
  function confirmGetItem() {
    return confirm('Are you sure you alreay got this item?')
  }
</script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const orders = document.querySelectorAll('.order-row')
      orders.forEach((order) => {
        const status = order.getAttribute('data-status')
        if (status === 'accept') {
          updateTimeAndCheck(order)
          setInterval(() => updateTimeAndCheck(order), 1000)
        }
      })
    })
    
    function updateTimeAndCheck(order) {
      var startTimeString = order.getAttribute('data-start-time')
      const startTime = new Date(startTimeString)
      const currentTime = new Date()
      const timeDiff = Math.abs(currentTime - startTime)
      const diffInSeconds = timeDiff / 1000
      const minutes = Math.floor(diffInSeconds / 60)
      const seconds = Math.floor(diffInSeconds % 60)
      const overdueTimeSpan = order.querySelector('.overdue-time')
    
      if (currentTime > startTime) {
        overdueTimeSpan.innerHTML = 'Borrower Delay <br> ' + minutes + ' min  ' + seconds + ' sec'
        overdueTimeSpan.style.color = 'red'
      } else {
        overdueTimeSpan.textContent = '--------'
        overdueTimeSpan.style.color = 'black'
      }
    
      if ((currentTime > startTime) & (minutes >= 60)) {
        var xhr = new XMLHttpRequest()
        const cancelOrderUrl = order.getAttribute('cancel-url')
        xhr.open('POST', cancelOrderUrl, true)
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
        xhr.send()
    
        var orderId = order.getAttribute('data-order-id')
        var userConfirmed = confirm('The borrower is late over one hour,order #' + orderId + 'has been canceled automatically ')
        if (userConfirmed) {
          window.location.href = "{% url 'contributor_order_status' %}"
        }
      }
    }
  </script>

  <h2 class="text-center">My Contribute status</h2>
  <div class="order-container">
    <div class="order-table">
      {% if contributor_orders %}
        <div class="order-header">
          <div>Borrower</div>
          <div>Item</div>
          <div>Start Time</div>
          <div>End Time</div>
          <div>Request Time</div>
          <div>Status</div>
          <div>Action</div>
        </div>
        {% for order in contributor_orders %}
          <div class="order-row" data-order-id="{{ order.order_id }}" data-start-time="{{ order.start_time|date:'Y-m-d H:i:s' }}" data-status="{{ order.status }}" cancel-url="{% url 'cancel_order' order.order_id %}">
            <div>{{ order.borrower }}</div>
            <div>{{ order.item.item_name }}</div>
            <div>{{ order.start_time }}</div>
            <div>{{ order.end_time }}</div>
            <div>{{ order.request_time }}</div>
            <div>{{ order.status }}</div>
            {% if order.status == 'pending' %}
              <div>
                <form method="post" action="{% url 'update_order_status_approve' order.order_id %}">
                  {% csrf_token %}
                  <div class="action-buttons">
                    <button type="submit" name="decision" value="accept" class="accept-btn">Accept</button>
                    <button type="submit" name="decision" value="deny" class="deny-btn">Deny</button>
                  </div>
                </form>
              </div>
            {% elif order.status == 'accept' %}
              <div class="overdue-time"></div>
            {% elif order.status == 'get_item' %}
              <div class="detail">
                <form  action="{% url 'update_to_return_item' order.order_id %}" method="post" onsubmit="return confirmGetItem()">
                  {% csrf_token %}
                  <button type="submit" name="decision" value="return item" class="return-btn">Return item</button>
                </form>
              </div>
            {% elif order.status == 'return_item' %}
              <div class="detail">
                <a href="{% url 'contributor_submit_review' order.order_id %}" class="return-btn">Give Review</a>
              </div>
            {% else %}
              <div>---</div>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        <p>No orders found !!!!!</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
