{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  <title>{% trans "Contributor review" %}</title>
{% endblock %}

{% block content %}
  <form method="post" action="{% url 'contributor_submit_review' order_id %}" class="contributor-review-container">
    {% csrf_token %}

    <h2>{% trans "Contributor review" %}</h2>
    <label for="breakage">{% trans "Breakage:" %}</label>
    <select name="breakage" id="breakage" required>
      {% for choice_value, choice_label in breakage_choices %}
        <option value="{{ choice_value }}">{{ choice_label }}</option>
      {% endfor %}
    </select>

    <label for="review_comment">{% trans "Comment:" %}</label>
    <textarea name="review_comment" id="review_comment" placeholder="Give your borrower some comments" required></textarea>

    <label>{% trans "Feeling:" %}</label>
    <div class="review-result">
      <input type="radio" name="review_result" id="like" value="like" required />
      <label for="like" class="button-like">😁</label>
      <input type="radio" name="review_result" id="dislike" value="dislike" required />
      <label for="dislike" class="button-dislike">😱</label>
    </div>

    <input type="submit" value="Submit Review" />
  </form>
{% endblock %}
