{% extends 'base.html' %}

{% block title %}
  <title>contributor order status</title>
{% endblock %}

{% block content %}
<script>
  function confirmGetItem() {
    return confirm('Are you sure you already got this item back?')
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.order-row').forEach((order) => {
      const status = order.getAttribute('data-status')
      if (status === 'accept') {
        updateBorrowerGetItemDelayTime(order)
        setInterval(() => updateBorrowerGetItemDelayTime(order), 1000)
      }
      
      if (status === 'pending') {
        updateRemainingTimeForContributorDecision(order)
        setInterval(() => updateRemainingTimeForContributorDecision(order), 1000)
      }
    })
  })
  
  function updateBorrowerGetItemDelayTime(order) {
    var startTimeString = order.getAttribute('data-start-time')
    const startTime = new Date(startTimeString)
    const currentTime = new Date()
    const timeDiff = Math.abs(currentTime - startTime)
    const diffInSeconds = timeDiff / 1000
    const minutes = Math.floor(diffInSeconds / 60)
    const seconds = Math.floor(diffInSeconds % 60)
    const overdueTimeSpan = order.querySelector('.overdue-time')

    if (currentTime > startTime) {
      overdueTimeSpan.innerHTML = 'Borrower Delay <br> ' + minutes + ' min  ' + seconds + ' sec'
      overdueTimeSpan.style.color = 'red'
    } else {
      overdueTimeSpan.textContent = '--------'
      overdueTimeSpan.style.color = 'black'
    }
  
    if ((currentTime > startTime) & (minutes >= 60)) {
      var xhr = new XMLHttpRequest()
      const borrower_not_picked_up_url = order.getAttribute('borrower-not-picked-up-url')
      xhr.open('POST', borrower_not_picked_up_url, true)
      xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
      xhr.send()
  
      window.location.href = "{% url 'contributor_order_status' %}"
    }
  }

  function updateRemainingTimeForContributorDecision(order) {
    const requestTimeString = order.getAttribute('data-request-time')
    const requestTime = new Date(requestTimeString)
    const endTime = new Date(requestTime.getTime() + 8 * 60 * 60 * 1000) 
    const remainingTimeSpan = order.querySelector('.remaining-time')

    const currentTime = new Date()
    const remainingTimeDiff = Math.abs(endTime - currentTime)
    const remainingDiffInSeconds = remainingTimeDiff / 1000
    const remainingHours = Math.floor(remainingDiffInSeconds / 3600)
    const remainingMinutes = Math.floor((remainingDiffInSeconds % 3600) / 60)
    const remainingSeconds = Math.floor((remainingDiffInSeconds % 3600) % 60)

    remainingTimeSpan.innerHTML = remainingHours + ' h ' + remainingMinutes + ' m ' + remainingSeconds + ' s'
    document.getElementById('decision_minutes').value = (7-remainingHours)*60 + (60 -remainingMinutes)  ;

    if (currentTime > endTime) {
      var xhr = new XMLHttpRequest()
      const contributor_approve_expired_url = order.getAttribute('contributor-approve-expired-url')
      xhr.open('POST', contributor_approve_expired_url, true)
      xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
      xhr.send()
      
      window.location.href = "{% url 'contributor_order_status' %}"
    }
  }

</script>

  <h2 class="text-center">My Contribute status</h2>
  <div class="order-container">
    <div class="order-table">
      {% if contributor_orders %}
        <div class="order-header">
          <div>Borrower</div>
          <div>Item</div>
          <div>Start Time</div>
          <div>End Time</div>
          <div>Status</div>
          <div>Action</div>
          <div>Decide within</div>
        </div>
        {% for order in contributor_orders %}
          <div class="order-row" data-request-time="{{ order.request_time|date:'Y-m-d H:i:s' }}" data-order-id="{{ order.order_id }}" data-start-time="{{ order.start_time|date:'Y-m-d H:i:s' }}" data-status="{{ order.status }}" contributor-approve-expired-url="{% url 'contributor_approve_expired' order.order_id %}" borrower-not-picked-up-url= "{% url 'borrower_not_picked_up' order.order_id %}">
           <div>
            <a href="{% url 'borrower_history_dashboard' order.borrower.id %}" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">
              <div style="font-weight: bold;">{{ order.borrower }}</div>
            </a>
           </div>
            <div>{{ order.item.item_name }}</div>
            <div>{{ order.start_time }}</div>
            <div>{{ order.end_time }}</div>
            <div>{{ order.get_status_display }}</div>
            {% if order.status == 'pending' %}
              <div>
                <form method="post" action="{% url 'update_order_status_approve' order.order_id %}">
                  {% csrf_token %}
                  <div class="action-buttons">
                    <input type="hidden" id="decision_minutes" name="decision_minutes" value="0">
                    <button type="submit" name="decision" value="accept" class="accept-btn">Accept</button>
                    <button type="submit" name="decision" value="deny" class="deny-btn">Deny</button>
                  </div>
                </form>
              </div>
            {% elif order.status == 'accept' %}
              <div class="overdue-time"></div>
            {% elif order.status == 'get_item' %}
              <div class="detail">
                <form  action="{% url 'update_to_return_item' order.order_id %}" method="post" onsubmit="return confirmGetItem()">
                  {% csrf_token %}
                  <button type="submit" name="decision" value="return item" class="return-btn">Return item</button>
                </form>
              </div>
            {% elif order.status == 'return_item' %}
              <div class="detail">
                <a href="{% url 'contributor_submit_review' order.order_id %}" class="return-btn">Give Review</a>
              </div>
            {% else %}
              <div>---</div>
            {% endif %}
            
            {% if order.status == 'pending'  %}
              <div class="remaining-time"></div>
            {% else  %}
              <div>------</div>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        <p>No orders found !!!!!</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
