{% extends 'base.html' %}

{% load static %}

{% block title %}
  <title>user orders</title>
{% endblock %}

{% block content %}
  <script>
    function confirmCancel() {
      return confirm('Are you sure you want to cancel the request?')
    }
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var menuItems = ['latest-status', 'unpaid', 'cancel', 'history']
    
      menuItems.forEach(function (itemId) {
        var item = document.getElementById(itemId)
        var link = item.querySelector('a')
    
        if (window.location.href.includes(link.getAttribute('href'))) {
          item.style.borderBottom = '2px solid #02a9f7'
          link.style.color = '#02a9f7'
        }
    
        item.addEventListener('mouseenter', function () {
          if (!window.location.href.includes(link.getAttribute('href'))) {
            item.style.borderBottom = '2px solid #02a9f7'
          }
        })
    
        item.addEventListener('mouseleave', function () {
          if (!window.location.href.includes(link.getAttribute('href'))) {
            item.style.borderBottom = ''
            link.style.color = ''
          }
        })
    
        link.addEventListener('click', function () {
          menuItems.forEach(function (itemId) {
            var otherItem = document.getElementById(itemId)
            var otherLink = otherItem.querySelector('a')
            otherItem.style.borderBottom = ''
            otherLink.style.color = ''
          })
    
          item.style.borderBottom = '2px solid #02a9f7'
          link.style.color = '#02a9f7'
        })
      })
    })
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', async function () {
      if (window.ethereum) {
        window.web3 = new Web3(ethereum);
        const response = await fetch('{% static "abi/ShareTokenABI.json" %}');
        const contractABI = await response.json();
        const contractAddress = localStorage.getItem('contract_address');
        const contract = new web3.eth.Contract(contractABI, contractAddress);
    
        document.getElementById('payDepositForm').addEventListener('submit', async function (event) {
          event.preventDefault();
          if (!localStorage.getItem('walletConnected')) {
            alert('Please connect your wallet');
            return;
          }
          const depositAmount = document.getElementById('depositAmount').value;
          const accounts = await web3.eth.getAccounts();
          const account = accounts[0];
    
          contract.methods
            .payDeposit(depositAmount)
            .send({ from: account })
            .on('transactionHash', function (hash) {
              console.log('Transaction Hash:', hash);
              transaction_processing (hash);
            })
            .on('receipt', function (receipt) {
              console.log('Receipt:', receipt);
              document.getElementById('payDepositForm').submit();
            })
            .on('error', function (error, receipt) {
              console.error('Error:', error);
              alert('Transaction failed!');
            });
        });
      } else {
        alert('Non-Ethereum browser detected. You should consider trying MetaMask!');
      }
    
      const updateRemainingTime = () => {
        document.querySelectorAll('.pay-deposit-btn').forEach(button => {
          const requestTime = new Date(button.getAttribute('data-request-time'));
          const endTime = new Date(requestTime.getTime() + 3600000); 
          const now = new Date();
          const remainingTime = endTime - now;
    
          if (remainingTime > 0) {
            const minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);
            button.textContent = `${minutes} m ${seconds} s`;
          } else {
            button.textContent = 'Time expired';
            button.disabled = true;

            const orderRow = button.closest('.order-row');
            const cancelForm = orderRow.querySelector('.cancel form');
            if (cancelForm) {
              cancelForm.submit(); 
            }
            
          }
        });
      };
    
      setInterval(updateRemainingTime, 1000);
      updateRemainingTime();
    });

    function transaction_processing(transactionHash) {
        var transaction_processing = document.getElementById('transaction_processing');
        document.getElementById('hashDisplay').innerText = transactionHash;
        transaction_processing.style.display = "block";
    }
  
  </script>

  <nav class="user-order-status-bar">
    <ul class="user-order-status-links">
      <li id="latest-status">
        <a href="{% url 'latest_status_user_orders' %}">Latest status</a>
      </li>
      <li id="unpaid">
        <a href="{% url 'unpaid_user_orders' %}">Unpaid</a>
      </li>
      <li id="cancel">
        <a href="{% url 'cancel_order_user_orders' %}">Cancel order</a>
      </li>
      <li id="history">
        <a href="{% url 'history_user_orders' %}">History</a>
      </li>
    </ul>
  </nav>

  <div class="order-container">
    <div class="order-table">
      {% if user_orders %}
        <div class="order-header">
          <div>Order ID</div>
          <div>Contributor</div>
          <div>Item</div>
          <div>Start Time</div>
          <div>End Time</div>
          <div>Request Time</div>
          <div>Status</div>
          {% if show_cancel_column %}
            <div class="cancel">Pay deposit</div>
            <div class="cancel">Cancel</div>
          {% endif %}

          {% if show_action_column %}
            <div class="action">Action</div>
          {% endif %}
        </div>

        {% for order in user_orders %}
          <div class="order-row">
            <div>{{ order.order_id }}</div>
            <div>{{ order.item.contributor }}</div>
            <div>{{ order.item.item_name }}</div>
            <div>{{ order.start_time }}</div>
            <div>{{ order.end_time }}</div>
            <div>{{ order.request_time }}</div>
            <div>{{ order.get_status_display }}</div>

            {% if order.status == 'unpaid' or order.status == 'wait_to_pay' %}
              <div class="payDeposit">
                <form id="payDepositForm" action="{% url 'update_order_status_to_pending'  order.pk  %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" id="depositAmount" value="{{ order.item.item_deposit_require }}" />
                  <input type="hidden" name="order_id" id="orderId" value="{{ order.order_id }}" />

                  <button id="payDepositBtn" class="pay-deposit-btn" type="submit" data-request-time="{{ order.request_time|date:'c' }}">Pay deposit</button>
                </form>
              </div>

              <div class="cancel">
                <form id="cancelForm-{{ order.order_id }}" method="post" action="{% url 'cancel_order'  order.order_id  %}" onsubmit="return confirmCancel()">
                  {% csrf_token %}
                  <button type="submit" name="decision" value="Cancel Order" class="cancel-btn">Cancel</button>
                </form>
              </div>
            {% endif %}

            {% if order.status == 'accept' %}
              <div class="detail">
                <form method="post" action="{% url 'borrower_get_item_page'  order.order_id  %}">
                  {% csrf_token %}
                  <button type="submit" value="info" class="action-btn">More detail</button>
                </form>
              </div>
            {% elif order.status == 'borrower_comment' %}
              <div class="detail">
                <a href="{% url 'borrower_submit_review'  order.order_id  %}" class="action-btn">Give review</a>
              </div>
            {% elif show_action_column %}
              <div>---</div>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        <p>No orders found !!!!!</p>
      {% endif %}
    </div>
  </div>

  
  <div id="transaction_processing" class="transaction_processing">
    <div class="transaction_processing-content">
      <p style="font-size: 50px;">Transaction Processing...</p>
      <p>Transaction Hash</p>
      <p><span style="font-size: 25px; font-family: 'Consolas';" id="hashDisplay"></span></p>
    </div>
  </div>
{% endblock %}
