{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Polling</title>
{% endblock %}

{% block content %}
  <style>
    .voting-card-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .proposal-category-bar {
      padding: 10px 0;
      margin-top: 15px;
      display: flex;
      justify-content: center;
    }
    
    .proposal-category-links {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .proposal-category-links li {
      display: inline;
      padding: 10px 20px;
      border-bottom: 2px solid transparent;
      margin-left: 100px;
      margin-right: 100px;
    }
    
    .proposal-category-links a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      padding: 10px;
    }
    
    /*-------------------------------*/
    
    .voting-card {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 700px;
      padding: 20px;
      margin-bottom: 20px;
    }

    .voting-card.ended:hover {
      background-color: #d3d3d3;
    }
    
    .voting-card h3 {
      font-size: 20px;
      margin-bottom: 5px;
    }
    
    .voting-card p {
      font-size: 14px;
      color: #666;
      margin-bottom: 20px;
    }
    
    .voting-card .vote-buttons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    
    .vote-button {
      flex: 1;
      padding: 10px 0;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    
    .vote-button:first-child {
      margin-right: 10px;
    }
    
    .vote-button.yes {
      background-color: #FB8C00;
      color: #fff;
    }

    .vote-button.yes:hover{
      background-color: #DA7A01;
    }
    
    .vote-button.no {
      background-color: #1F2CBB;
      color: #fff;
    }

    .vote-button.no:hover{
      background-color: #000A75;
    }
    
    .vote-percentage {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
    }
    
    .vote-percentage div {
      font-size: 14px;
      color: #333;
    }
    
    .vote-percentage .yes-percentage {
      color: #FB8C00;
    }
    
    .vote-percentage .no-percentage {
      color: #1F2CBB;
    }
    
    .vote-percentage .middle-percentage {
      color: #666;
    }
    
    /*--------------------------------*/
    
    .result-bar {
      display: flex;
      height: 10px;
      border-radius: 5px;
      overflow: hidden;
      margin-top: 10px;
      position: relative;
    }
    
    .result-bar div {
      height: 100%;
    }
    
    .result-yes {
      background-color: #FB8C00;
    }
    
    .result-no {
      background-color: #1F2CBB;
    }
    
    .Winning-option {
      text-align: center;
      margin-top: 20px;
    }

    /*--------------*/
    .transaction_processing {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      margin-top: 20px;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
      justify-content: center;
      align-items: center;
      animation: fadeIn 0.15s ease-out forwards;
    }
    .transaction_processing-content {
      background-color: #fff8dc;
      margin: 15% auto;
      padding: 20px;
      border-radius: 10px;
      width: 50%;
      align-items: center;
      animation: scaleUp 0.15s ease-out forwards;
      text-align: center;
      margin-top: 220px;
    }
    .Transaction_processing_title {
      text-align: center;
      font-size: 50px;
      color: #8b4513;
    }
    .Transaction_hash_title {
      text-align: center;
      font-size: 40px;
      color: #e77a29;
      margin-bottom: 15px;
    }
    #hashDisplay {
      text-align: center;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      font-size: max(22px, calc(100% - 40px));
      font-family: 'Consolas';
      box-sizing: border-box;
      padding: 10px;
      overflow: hidden;
      color: #e77a29;
      padding-top: 0;
      margin-top: 0;
    }
    .transaction_processing-content img {
      width: auto;
      max-width: 12%;
      height: auto;
      margin: 0;
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes scaleUp {
      from {
        transform: scale(0.8);
      }
      to {
        transform: scale(1);
      }
    }
  </style>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var menuItems = ['active-proposal', 'ended-proposal']
    
      menuItems.forEach(function (itemId) {
        var item = document.getElementById(itemId)
        var link = item.querySelector('a')
    
        if (window.location.href.includes(link.getAttribute('href'))) {
          item.style.borderBottom = '2px solid #02a9f7'
          link.style.color = '#02a9f7'
        }
    
        item.addEventListener('mouseenter', function () {
          item.style.borderBottom = '2px solid #02a9f7'
        })
    
        item.addEventListener('mouseleave', function () {
          if (!window.location.href.includes(link.getAttribute('href'))) {
            item.style.borderBottom = ''
            link.style.color = ''
          }
        })
    
        link.addEventListener('click', function () {
          menuItems.forEach(function (itemId) {
            var otherItem = document.getElementById(itemId)
            var otherLink = otherItem.querySelector('a')
            otherItem.style.borderBottom = ''
            otherLink.style.color = ''
          })
    
          item.style.borderBottom = '2px solid #02a9f7'
          link.style.color = '#02a9f7'
        })
      })
    })
  </script>

  <script>
    async function vote(proposalId, vote) {
      if (typeof window.ethereum !== 'undefined') {
        const web3 = new Web3(window.ethereum);
    
        if (!localStorage.getItem('walletConnected')) {
          alert('Please connect your wallet first!');
          return;
        }
    
        try {
          await window.ethereum.request({ method: 'eth_requestAccounts' });
    
          const accounts = await web3.eth.getAccounts();
          const account = accounts[0];
    
          const contractAddress = localStorage.getItem('contract_address');
          const response = await fetch('{% static "abi/ShareTokenABI.json" %}');
          const contractABI = await response.json();
    
          const contract = new web3.eth.Contract(contractABI, contractAddress);
    
          const receipt = await contract.methods
            .vote(proposalId, vote)
            .send({ from: account })
            .on('transactionHash', function(hash){
              transaction_processing(hash);
            });
    
          document.getElementById('transaction_processing').style.display = 'none';
          alert('Vote submitted successfully!');
          location.reload();
        } catch (error) {
          console.error('Error voting:', error);
          document.getElementById('transaction_processing').style.display = 'none';
          alert('There was an error submitting your vote.');
        }
      } else {
        alert('Please install MetaMask!');
      }
    }
    

    function transaction_processing(transactionHash) {
      var transaction_processing = document.getElementById('transaction_processing')
      document.getElementById('hashDisplay').innerText = transactionHash
      transaction_processing.style.display = 'block'
    }
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var voteProgresses = document.querySelectorAll('.voting-card')
    
      voteProgresses.forEach(function (voteProgress) {
        var totalYes = parseInt(voteProgress.getAttribute('data-total-yes'))
        var totalNo = parseInt(voteProgress.getAttribute('data-total-no'))
        var totalVotes = totalYes + totalNo
    
        var yesPercentage = totalVotes ? (totalYes / totalVotes) * 100 : 0
        var noPercentage = totalVotes ? (totalNo / totalVotes) * 100 : 0
    
        var yesElement = voteProgress.querySelector('.yes-percentage')
        var noElement = voteProgress.querySelector('.no-percentage')
    
        if (yesElement && noElement) {
          yesElement.textContent = yesPercentage.toFixed(2) + '%'
          noElement.textContent = noPercentage.toFixed(2) + '%'
        } else {
          console.error('Could not find yes-percentage or no-percentage elements in proposal ID:', voteProgress.id)
        }
    
        var yesBar = voteProgress.querySelector('.result-yes')
        var noBar = voteProgress.querySelector('.result-no')
    
        if (yesBar && noBar) {
          yesBar.style.width = yesPercentage + '%'
          noBar.style.width = noPercentage + '%'
        } else {
          console.error('Could not find result-yes or result-no elements in proposal ID:', voteProgress.id)
        }
      })
    })
  </script>

  <nav class="proposal-category-bar">
    <ul class="proposal-category-links">
      <li id="active-proposal">
        <a href="{% url 'user_proposals_list' 'active' %}">Active Proposals</a>
      </li>
      <li id="ended-proposal">
        <a href="{% url 'user_proposals_list' 'ended' %}">Ended Proposals</a>
      </li>
    </ul>
  </nav>

  <div class="voting-card-container">
    {% if filter == 'active' %}
      {% for proposal in proposals %}
        <div class="voting-card active" data-total-yes="{{ proposal.totalYes }}" data-total-no="{{ proposal.totalNo }}">
          <h3>{{ proposal.title }}</h3>
          <p>{{ proposal.description }}</p>
          <p>Remaining minutes: {{ proposal.remainingMinutes }}</p>

          <div class="vote-buttons">
            <button class="vote-button yes"onclick="vote({{ proposal.id }}, true)">Yes</button>
            <button class="vote-button no" onclick="vote({{ proposal.id }}, false)">No</button>
          </div>

          <div class="vote-percentage">
            <div class="yes-percentage"></div>
            <div class="no-percentage"></div>
          </div>

          <div class="result-bar">
            {% if proposal.totalYes == 0 and proposal.totalNo == 0 %}
              <div style="text-align: center;">No Data</div>
            {% else %}
              <div class="result-yes" style="width: {{ proposal.totalYes }}%;"></div>
              <div class="result-no" style="width: {{ proposal.totalNo }}%;"></div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% elif filter == 'ended' %}
      {% for proposal in proposals %}
        <div class="voting-card ended" data-total-yes="{{ proposal.totalYes }}" data-total-no="{{ proposal.totalNo }}">
          <a href="{% url 'user_proposal_detail' proposal.id %}">
            <h3>{{ proposal.title }}</h3>
            <p>{{ proposal.description }}</p>

            {% if proposal.totalYes == 0 and proposal.totalNo == 0 %}
              <div style="text-align: center;">No Data</div>
            {% else %}
              <div class="vote-percentage">
                <div class="yes-percentage"></div>
                <div class="middle-percentage">0%</div>
                <div class="no-percentage"></div>
              </div>

              <div class="result-bar">
                <div class="result-yes" style="width: {{ proposal.totalYes }}%;"></div>
                <div class="result-no" style="width: {{ proposal.totalNo }}%;"></div>
              </div>

              <div class="Winning-option">
                Winning option:
                <span>
                  {% if proposal.totalYes > proposal.totalNo %}
                    <span style="color: #ff8c00;">Yes</span>, with {{ proposal.totalYes }} STE
                  {% else %}
                    <span style="color: #1F2CBB;">No</span>, with {{ proposal.totalNo }} STE
                  {% endif %}
                </span>
              </div>
            {% endif %}
          </a>
        </div>
      {% endfor %}
    {% else %}
      <p>No proposals found.</p>
    {% endif %}
  </div>

  <div id="transaction_processing" class="transaction_processing">
    <div class="transaction_processing-content">
      <p class="Transaction_processing_title" style="font-size: 50px;">Voting...</p>
      <img src="{% static 'images/exchange.png' %}" alt="exchange" />
      <p class="Transaction_hash_title">Hash:</p>
      <p id="hashDisplay"></p>
    </div>
  </div>
{% endblock %}
