html {
  height: 100%; 
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  
  display: flex;
  flex-direction: column;
  min-height: 90%;
}

a {
  color: black;
  text-decoration: none;
}


/* Navigation ---------------------------------------------------------------------*/
.header {
  border-bottom: solid 0.1px #c5c1c1;
  height: 100px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
}

.logout-nav,
.login-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: 50px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: rgb(222, 37, 37);
  align-items: center;
}

.login {
  background-color: #30878A;
  padding: 15px;
  border-radius: 5px;
  color: #FFFFFF;
}

.login:hover {
  background-color: #02a9f7;
}

.login-nav {
  color: white;
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-item {
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu-item:hover {
  background-color: #30879A;
  color: #FFFFFF;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.language-dropdown {
  position: relative;
  display: inline-block;
}

.language-dropbtn{
  padding: 5px;
  margin-right: 20px;
  font-size: 20px;
  border-width: 0;
  background-color: white;
  border-radius: 10px;
}

.language-dropbtn:hover{
  background:gray;
}

.language-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.language-dropdown:hover .language-dropdown-content {
  display: block;
}

.language-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.language-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropbtn {
  color: #30879A;
  text-decoration: none;
  font-weight: bold;
}


.dropbtn:hover {
  color: #02a9f7;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 80px;
  z-index: 1;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  padding-top: 2px;
  top: 22px;
  left: -10px;
}

.dropdown-content a {
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
  line-height: 40px;
}

.dropdown-content a:hover {
  background-color: #02a9f7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.connect-wallet-btn {
  margin-right: 20px;
}

.disconnectSelect {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #999999;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.disconnectSelect option {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}


/* Home --------------------------------------------------------------------- */
.content-wrap {
  flex: 1;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.home-page {
  text-align: center;
  padding: 20px;
}

.home-card-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.home-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.home-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.home-card h3 {
  color: #333;
}

.home-card p {
  color: #666;
}

.text-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.text-image-container img{
  border-radius: 10px;
  max-width:100% ;
  height: auto;
}

.image-container {
  margin-right: 10px;
  border-radius: 10px;
  width: 60%;
}

.text-container {
  max-width: 40%;;
  text-align: left;
  margin-left: 80px;
}

.text-image-container h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-image-container p {
  font-size: 16px;
  color: #555;
}

.borrow-flow-chart {
  padding: 40px;
}

.home-page-startbtn {
  background-color: #30878A;
  padding: 20px 40px;
  border-radius: 10px;
  color: white;
  margin: 5px 50px; 
  display: block; 
  width: 20%;
  box-sizing: border-box;
}


.home-page-startbtn:hover {
  background-color: #02a9f7;
}


/*footer ------------------------------------------------------------------*/
.footer {
  width: 100%;
  height: 85px;
  background-color: #F8FAFB;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.left-content {
  display: flex;
  align-items: center;
}

.right-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.addNetworkBtn {
  border-radius: 5px;
  background-color: #EAEBEF;
  display: flex;
  align-items: center;
  color: #061D35;
  border: none;
  padding: 10px;
}

.addNetworkBtn:hover {
  background-color: #DFE2E6;
  cursor: pointer;
}

#gauge-chart-container {
  display: flex;
  align-items: center;
  margin-top: 30px; 
}

#gauge-chart {
  margin-right: 10px;
}


/*account card --------------------------------------------------------------------- */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.card {
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.text-center {
  color: #30878A;
  font-size: 24px;
  text-align: center;
}

h1.text-center {
  color: #30878A;
  font-size: 36px;
  text-align: center;
}

.card input[type='text'],
.card input[type='password'],
.card input[type='email'],
.card input[type='tel'],
.card input[type='airdrop_wallet_address'],
.card input[type='number'],
.card select,
.card input[type='submit'] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.card input[type='file'] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.card label {
  text-align: left;
  align-self: flex-start;
}

.card-image-preview {
  margin-top: 10px;
  border: 1px solid #ccc;
  display: block;
  max-height: 200px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.card-primary-btn {
  background-color: #30878A;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 16px;
}

.card-primary-btn:hover {
  background-color: #02a9f7;
}

.card-outline-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #30878A;
  color: #30878A;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;
}

.card-outline-btn:hover {
  border: 1px solid #02a9f7;
  color: #02a9f7;


}

.card p.text-center {
  text-align: center;
  font-size: 14px;
}

.card p.subtitle {
  text-align: center;
  font-size: 18px;
}


.card a {
  color: #30878A;
}

.text-center a:hover {
  text-decoration: underline;
}


/* alert---------------------------------------------------------------------------*/
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}


/*available_borrow_item------------------------------------------------------------*/
.item-category-bar {
  padding: 10px 0;
  margin-top: 15px;
}

.item-category-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 20px;
}

.item-category-links li {
  display: inline;
  padding: 10px 0;
  border-bottom: 2px solid transparent;
}

.item-category-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px;
}

.available-item-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2em;
}

.available-item {
  width: 274px;
  margin-bottom: 85px;
  padding: 5px;
}

.available-item img {
  width: 100%; 
  height: 225px;  /* max-width: 100% height: 100%;% */
  object-fit: cover; 
  display: block;
}

.available-item .item-name {
  text-align: center;
  padding: 0;
  color: #333;
  font-size: 20px;
}

.available-item .deposit-require {
  text-align: center;
  padding: 0;
  color: #333;
  font-size: 15px;
}

.available-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/*available_item_detail------------------------------------------------------------*/
.borrow-request-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 10px;
  margin-top: 100px;
}

.borrow-request-card {
  border: 1px solid #ddd;
  padding: 40px;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}

.borrow-request-card img {
  width: 400px;
  height: auto;
  margin-right: 40px;
}

.details {
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
}

.details h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.details p {
  margin: 10px 0;
  color: #666;
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 10px;
}

.details input[type='datetime-local'] {
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 20px;
  width: 180px;
  height: 10px;
}

.details button {
  background-color: #30878a;
  border-radius: 10px;
  padding: 10px 25px;
  margin-top: 20px;
  font-size: 1.5rem;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.request-submit-btn {
  text-align: center;
  align-items: center;
}

.details button:hover {
  background-color: #02a9f7;
}


/*-----------------------------transaction processing pop up */
.transaction_processing {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  justify-content: center; 
  align-items: center; 
  animation: fadeIn 0.15s ease-out forwards; 
}

.transaction_processing-content {
  background-color: #FFF8DC;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 50%; 
  align-items: center;
  animation: scaleUp 0.15s ease-out forwards;
  text-align: center; 
  margin-top: 220px;
}

.Transaction_processing_title{
  text-align: center; 
  font-size: 50px;
  color: #8B4513;
}

.Transaction_hash_title{
  text-align: center; 
  font-size: 40px;
  color: #E77A29;
  margin-bottom: 15px;
}

#hashDisplay {
  text-align: center; 
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  font-size: max(22px, calc(100% - 40px));
  font-family: 'Consolas';
  box-sizing: border-box; 
  padding: 10px; 
  overflow: hidden;
  color: #E77A29;
  padding-top: 0;
  margin-top: 0;
}

.transaction_processing-content img{
  width: auto; 
  max-width: 12%; 
  height: auto;
  margin: 0;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0.8); }
  to { transform: scale(1); }
}


/*user orders page----------------------------------------------------------*/
.user-order-status-bar {
  padding: 10px 0;
  margin-top: 15px;
}

.user-order-status-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 20px;
}

.user-order-status-links li {
  display: inline;
  padding: 10px 0;
  border-bottom: 2px solid transparent;
}

.user-order-status-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px;
}

.order-container {
  width: 95%;
  margin: 20px auto;
  text-align: center;
}

.order-table {
  width: 100%;
}

.order-container .order-header,
.order-container .order-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.order-container .order-header>div,
.order-container .order-row>div {
  flex: 1;
  padding: 10px;
}

.order-container.cancel,
.order-container.detail,
.order-container.payDeposit {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-container .order-header {
  background-color: #f9f9f9;
  font-weight: bold;
}

.order-container .order-row {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.cancel-btn {
  padding: 8px 12px;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f70202;
}

.cancel-btn:hover{
  opacity: 0.8;
}

.pay-deposit-btn{
  padding: 8px 12px;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #30878A;
}

.pay-deposit-btn:hover{
  opacity: 0.8;
}

.action-btn {
  padding: 8px 12px;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #30878A;
  font-size: 14px;
}

.action-btn:hover {
  opacity: 0.8;
}


/*contributor-item-list page ---------------------------------*/
/*
.contributor-item-list {
  margin: 50px auto;
}

.add-item-btn{
  float: right;
  margin-right: 125px;
  font-size: 20px;
  border-radius: 5px;
  padding: 8px 8px;
  font-weight: bold;
}

.add-item-btn:hover{
  color:white ;
  background-color:#30878a;
}

.item-list-card {
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 15px 100px;
}

.item-list-image {
  max-width: 180px;
  margin-right: 20px;
}

.item-details {
  margin-left: 20px;
}

.item-details p {
  margin: 8px;
}

.item-edit-delete-btn {
  margin-left: auto;
}

.item-edit-button,
.item-delete-button {
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 5px;
}

.item-edit-button {
  background-color: #02a9f7;
}

.item-delete-button {
  background-color: #dc3545;
}

.item-edit-button:hover,
.item-delete-button:hover {
  opacity: 0.8;
}

.no-contribute-item {
  text-align: center;
  margin: 20px;
}

.no-contribute-item p {
  font-size: 18px;
  color: #333;
}

.contribute-my-item-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #30878a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.contribute-my-item-btn:hover {
  opacity: 0.8;
}
*/


/*contributor-order-status page ---------------------------------------------------*/
.order-container .action-buttons {
  display: flex;
}

.accept-btn,
.deny-btn {
  padding: 8px 12px;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
  flex-grow: 1;
  margin: 0 5px;
}

.accept-btn {
  background-color: #02a9f7;
}

.deny-btn {
  background-color: #f70202;
}

.accept-btn:hover,
.deny-btn:hover {
  opacity: 0.8;
}


/*get item page ---------------------------------------------------*/
.get-item-page-container {
  text-align: center;
  margin-top: 40px;
}

.get-item-page-container h2 {
  color: #30878a;
  font-size: 40px;
  text-align: center;
}

#get-item-map {
  max-width: 100%;
  height: 500px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.get-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 50px;
}

.get-item-info-left,
.get-item-info-right {
  flex: 1;
  padding: 10px;
}

.get-item-info p {
  margin: 10px 0;
  color: #666;
  font-size: 1.5rem;
  text-align: left;
}

.get-item-btn {
  background-color: #30878a;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 1.5rem;
  color: white;
  border: none;
  cursor: pointer;
}

.get-item-btn:hover {
  background-color: #02a9f7;
}

#Timeout {
  text-align: center;
  align-items: center;
}

.return-btn {
  padding: 8px 12px;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #30878A;
}

.return-btn:hover {
  opacity: 0.8;
}


/*contributor review page----------------------------------------------*/
.contributor-review-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

.contributor-review-container h2 {
  color: #30878a;
  font-size: 30px;
  text-align: center;
}

.contributor-review-container label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.contributor-review-container input[type='text'],
.contributor-review-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contributor-review-container textarea {
  width: 96%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 120px;
}

.contributor-review-container input[type='radio'] {
  display: none;
}

.contributor-review-container .review-result {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.contributor-review-container .button-like,
.contributor-review-container .button-dislike {
  display: inline-block;
  cursor: pointer;
  padding: 20px 5px;
  border-radius: 100px;
  user-select: none;
  width: 35%;
  font-size: 80px;
  text-align: center;
}

.button-like:hover {
  background-color: #e0e0e0;
}

.button-dislike:hover {
  background-color: #e0e0e0;
}

.contributor-review-container input[type='radio']:checked+label {
  background-color: #4caf50;
  color: white;
}

#dislike:checked+label.button-dislike {
  background-color: #f44336;
}

.contributor-review-container input[type='submit'] {
  width: 100%;
  background-color: #30878A;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 20px;
}

input[type='submit']:hover {
  background-color: #02a9f7;
}


/*User History DashBoard page -------------------------------------------------------------------*/
.user-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.user-info-contributor {
  text-align: center;
  background-color: rgb(225, 129, 155);
  margin-right: 20px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 1000px;
  display: flex;
  flex-direction: row;
}

.user-info-borrower{
  text-align: center;
  background-color: rgb(54, 162, 235);
  margin-right: 20px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 1000px;
  display: flex;
  flex-direction: row;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #30878A;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}

.user-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.word-cloud,
.likeDislike-pie-chart {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.word-cloud {
  border: 2px solid #ccc;
  border-radius: 5px;
}

.weeklyOrder-line-chart,
.statistics {
  grid-column: span 1;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 350px;
}

.weeklyOrder-line-chart canvas {
  max-width: 100%;
  max-height: 100%;
}

.statistics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: rgb(255, 165, 0);
  border-radius: 10px;
  font-size: 1.2em;
  padding: 10px;
}

.stat p {
  margin: 0;
  padding: 5px 0;
  text-align: center;
  font-size: 1.1em;
  color: white;
}