{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Dashboard</title>
    <script src="{% static 'js/web3.min.js' %}"></script>
    <script src="{% static 'js/connect_wallet.js' %}"></script>
  </head>
  <body>
    <p>Hello, {{ username }}! admin admin admin admin</p>
    <a href="{% url 'logout' %}" id="logoutBtn" style="color: red; font-weight: bold;">Logout</a>

    <div>
      <p>
        Next unlock in: <span id="days">{{ days_until_unlock }}</span> days and <span id="hours">{{ hours_until_unlock }}</span> hours.
      </p>
    </div>

    <div class="connect-wallet-btn">
      <button id="connectWalletBtn" class="connectWalletBtn" style="background-color: green; color: white; border: 0px; padding: 10px; border-radius: 5px;">Connect Wallet</button>
      <select id="disconnectSelect" class="disconnectSelect" style="display: none;"></select>
    </div>

    <button id="unlockTokensBtn">Unlock Tokens</button>

    <p>Number of users:{{ user_count }}</p>
    <p>like count {{like_count}}</p> 
    <p>dislike count {{dislike_count}}</p>
    <p>average_breakage: {{average_breakage}}</p>

    <hr>
    {% for week, count in weekly_order_counts_in_past_three_months %}
      <p>{{week}}</p>
      <p>{{count}}</p>
    {% endfor %}


    <hr>
    {% for category in category_proportions %}
      <p> {{ category.category }}</p>
      <p> {{ category.count }}</p>
    {% endfor %}

    <script>
      function fetchNextUnlock() {
        $.ajax({
          url: '{% url "api_next_unlock" %}',
          method: 'GET',
          success: function (data) {
            $('#days').text(data.days)
            $('#hours').text(data.hours)
          }
        })
      }
      
      setInterval(fetchNextUnlock, 3600000)
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const unlockTokensBtn = document.getElementById('unlockTokensBtn')
      
        unlockTokensBtn.addEventListener('click', function () {
          if (!localStorage.getItem('walletConnected')) {
            alert('Please connect your wallet first!')
            return
          }
      
          const userAddress = localStorage.getItem('walletConnected')
          const provider = new Web3(window.ethereum)
          const contract = new provider.eth.Contract(
            [
              {
                inputs: [],
                name: 'unlockTokens',
                outputs: [],
                stateMutability: 'nonpayable',
                type: 'function'
              },
              {
                constant: true,
                inputs: [],
                name: 'owner',
                outputs: [{ name: '', type: 'address' }],
                stateMutability: 'view',
                type: 'function'
              }
            ],
            localStorage.getItem('contract_address')
          )
      
          contract.methods
            .owner()
            .call()
            .then((ownerAddress) => {
              if (ownerAddress.toLowerCase() === userAddress.toLowerCase()) {
                contract.methods
                  .unlockTokens()
                  .send({ from: userAddress })
                  .then((receipt) => {
                    console.log('Tokens unlocked:', receipt)
                    alert('Transaction Hash: ' + receipt.transactionHash);
                  })
                  .catch((error) => {
                    console.error('Failed to unlock tokens:', error)
                  })
              } else {
                alert('You are not the owner of the contract!')
              }
            })
            .catch((error) => {
              console.error('Error fetching owner address:', error)
            })
        })
      })
    </script>
  </body>
</html>
