{% extends 'base.html' %}
{% load i18n %}

{% load static %}

{% block title %}
  <title>{% trans "Add Liquidity" %}</title>
{% endblock %}

{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script>
    async function connectWeb3() {
      if (window.ethereum) {
        const web3 = new Web3(window.ethereum)
        try {
          await window.ethereum.request({ method: 'eth_requestAccounts' })
          return web3
        } catch (error) {
          console.error('User denied account access')
        }
      } else {
        console.error('No Ethereum provider found')
      }
    }
    
    async function fetchContractData(web3) {
      const liquidityPoolAddress = localStorage.getItem('liquidityPoolAddress')
      const liquidityPoolResponse = await fetch('{% static "abi/LiquidityPoolABI.json" %}')
      const liquidityPoolAbi = await liquidityPoolResponse.json()
      const liquidityPoolContract = new web3.eth.Contract(liquidityPoolAbi, liquidityPoolAddress)
    
      return liquidityPoolContract
    }
    
    async function calculateUSDTRequired() {
      const shareTokenAmount = document.getElementById('shareTokenAmount').value
      const usdtTokenAmountField = document.getElementById('usdtTokenAmount')
      if (shareTokenAmount && shareTokenAmount > 0) {
        const web3 = await connectWeb3()
        if (!web3) return
        const contract = await fetchContractData(web3)
        const usdtAmount = await contract.methods.calculateRequiredUSDT(web3.utils.toWei(shareTokenAmount, 'ether')).call()
        usdtTokenAmountField.value = web3.utils.fromWei(usdtAmount, 'ether')
        checkBalance()
      } else {
        usdtTokenAmountField.value = ''
      }
    }
    
    async function calculateShareTokenRequired() {
      const usdtTokenAmount = document.getElementById('usdtTokenAmount').value
      const shareTokenAmountField = document.getElementById('shareTokenAmount')
      if (usdtTokenAmount && usdtTokenAmount > 0) {
        const web3 = await connectWeb3()
        if (!web3) return
        const contract = await fetchContractData(web3)
        const shareTokenAmount = await contract.methods.calculateRequiredShareToken(web3.utils.toWei(usdtTokenAmount, 'ether')).call()
        shareTokenAmountField.value = web3.utils.fromWei(shareTokenAmount, 'ether')
        checkBalance()
      } else {
        shareTokenAmountField.value = ''
      }
    }
    
    async function addLiquidity() {
      const shareTokenAmount = document.getElementById('shareTokenAmount').value
      const usdtTokenAmount = document.getElementById('usdtTokenAmount').value
    
      if (!shareTokenAmount || !usdtTokenAmount || parseFloat(shareTokenAmount) <= 0 || parseFloat(usdtTokenAmount) <= 0) {
        alert('Please enter valid amounts for both ShareToken and USDT.')
        return
      }
    
      if (!window.ethereum) {
        alert('MetaMask is not installed!')
        return
      }
    
      const web3 = new Web3(window.ethereum)
    
      try {
        await window.ethereum.request({ method: 'eth_requestAccounts' })
        const accounts = await web3.eth.getAccounts()
        const userAccount = accounts[0]
    
        if (!localStorage.getItem('walletConnected')) {
          alert('Please connect your wallet')
          return
        }
    
        const liquidityPoolAddress = localStorage.getItem('liquidityPoolAddress')
        const response1 = await fetch('{% static "abi/LiquidityPoolABI.json" %}')
        const liquidityPoolAbi = await response1.json()
        const liquidityPoolContract = new web3.eth.Contract(liquidityPoolAbi, liquidityPoolAddress)
    
        const shareTokenAddress = localStorage.getItem('contract_address')
        const response2 = await fetch('{% static "abi/ShareTokenABI.json" %}')
        const shareTokenAbi = await response2.json()
        const shareTokenContract = new web3.eth.Contract(shareTokenAbi, shareTokenAddress)
    
        const usdtTokenAddress = localStorage.getItem('usdtTokenAddress')
        const response3 = await fetch('{% static "abi/FakeUSDTABI.json" %}')
        const usdtTokenAbi = await response3.json()
        const usdtTokenContract = new web3.eth.Contract(usdtTokenAbi, usdtTokenAddress)
    
        const shareTokenAmountInWei = web3.utils.toWei(shareTokenAmount, 'ether')
        const usdtTokenAmountInWei = web3.utils.toWei(usdtTokenAmount, 'ether')
    
        await shareTokenContract.methods.approve(liquidityPoolAddress, shareTokenAmountInWei).send({ from: userAccount })
        await usdtTokenContract.methods.approve(liquidityPoolAddress, usdtTokenAmountInWei).send({ from: userAccount })
    
        await liquidityPoolContract.methods
        .addLiquidity(shareTokenAmountInWei, usdtTokenAmountInWei)
        .send({from: userAccount})
        .on('transactionHash', function (hash) {
          transaction_processing(hash)
        })

        document.getElementById('transaction_processing').style.display = 'none';
        alert('Liquidity added successfully!')
        window.location.href = '/liquidity-reserves'
        getUserLiquidity()
      } catch (error) {
        console.error(error)
        alert('An error occurred while adding liquidity.')
      }
    }
    
    
    async function getUserLiquidity() {
      const web3 = await connectWeb3()
      if (!web3) return
      const contract = await fetchContractData(web3)
    
      try {
        const accounts = await web3.eth.getAccounts()
        const userAccount = accounts[0]
        const liquidity = await contract.methods.getUserLiquidity().call({ from: userAccount })
        document.getElementById('userLiquidity').textContent = `Your Liquidity: ${web3.utils.fromWei(liquidity, 'ether')} tokens`
      } catch (error) {
        console.error('Failed to fetch user liquidity', error)
      }
    }
    
    async function checkBalance() {
      const shareTokenAmount = document.getElementById('shareTokenAmount').value
      const usdtTokenAmount = document.getElementById('usdtTokenAmount').value
    
      const web3 = await connectWeb3()
      if (!web3) return
    
      const userAccount = (await web3.eth.getAccounts())[0]
    
      const liquidityPoolAddress = localStorage.getItem('liquidityPoolAddress')
      const response1 = await fetch('{% static "abi/LiquidityPoolABI.json" %}')
      const liquidityPoolAbi = await response1.json()
      const liquidityPoolContract = new web3.eth.Contract(liquidityPoolAbi, liquidityPoolAddress)
    
      const shareTokenAddress = localStorage.getItem('contract_address')
      const response2 = await fetch('{% static "abi/ShareTokenABI.json" %}')
      const shareTokenAbi = await response2.json()
      const shareTokenContract = new web3.eth.Contract(shareTokenAbi, shareTokenAddress)
      const shareTokenBalance = await shareTokenContract.methods.balanceOf(userAccount).call()
      const shareTokenBalanceInEther = web3.utils.fromWei(shareTokenBalance, 'ether')
    
      const usdtTokenAddress = localStorage.getItem('usdtTokenAddress')
      const response3 = await fetch('{% static "abi/FakeUSDTABI.json" %}')
      const usdtTokenAbi = await response3.json()
      const usdtTokenContract = new web3.eth.Contract(usdtTokenAbi, usdtTokenAddress)
      const usdtTokenBalance = await usdtTokenContract.methods.balanceOf(userAccount).call()
      const usdtTokenBalanceInEther = web3.utils.fromWei(usdtTokenBalance, 'ether')
    
      const addLiquidityButton = document.getElementById('add_liquidity')
      if (parseFloat(shareTokenAmount) > parseFloat(shareTokenBalanceInEther) || parseFloat(usdtTokenAmount) > parseFloat(usdtTokenBalanceInEther)) {
        addLiquidityButton.disabled = true
        addLiquidityButton.innerText = 'Insufficient balance'
      } else {
        addLiquidityButton.disabled = false
        addLiquidityButton.innerHTML = 'Add Liquidity'
      }
    }
    
    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById('shareTokenAmount').addEventListener('input', calculateUSDTRequired);
      document.getElementById('usdtTokenAmount').addEventListener('input', calculateShareTokenRequired);
      document.getElementById('cancel-btn').addEventListener('click', function() {
        window.history.back();
      })
      getUserLiquidity();
    });

    function transaction_processing(transactionHash) {
      var transaction_processing = document.getElementById('transaction_processing')
      document.getElementById('hashDisplay').innerText = transactionHash
      transaction_processing.style.display = 'block'
    }
  </script>

  <style>
    .add-liquidity-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .add-liquidity {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 350px;
      text-align: center;
      margin-top: 200px;
      justify-content: center;
    }
    
    .add-liquidity h2 {
      margin-top: 0;
      color: #30878a;
    }
    
    .input-group {
      margin-bottom: 15px;
      text-align: left;
    }
    
    .add-liquidity-container p {
      display: block;
      margin-bottom: 5px;
      color: #333;
    }
    
    .add-liquidity-container input[type='number'] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    #add_liquidity {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 4px;
      color: white;
      background-color: #30878a;
      cursor: pointer;
      font-size: 16px;
    }

    #add_liquidity:hover {
      background-color: #1e5758;
    }

    #cancel-btn{
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 4px;
      color: #30878a;
      border: solid 0.1px #30878a;
      background-color:white;
      cursor: pointer;
      font-size: 16px;
    }

    #cancel-btn:hover {
      border-color: #1e5758;
    }

    /*-------------------------------------*/
    .transaction_processing {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      margin-top: 20px;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
      justify-content: center;
      align-items: center;
      animation: fadeIn 0.15s ease-out forwards;
    }
    .transaction_processing-content {
      background-color: #fff8dc;
      margin: 15% auto;
      padding: 20px;
      border-radius: 10px;
      width: 50%;
      align-items: center;
      animation: scaleUp 0.15s ease-out forwards;
      text-align: center;
      margin-top: 220px;
    }
    .Transaction_processing_title {
      text-align: center;
      font-size: 50px;
      color: #8b4513;
    }
    .Transaction_hash_title {
      text-align: center;
      font-size: 40px;
      color: #e77a29;
      margin-bottom: 15px;
    }
    #hashDisplay {
      text-align: center;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      font-size: max(22px, calc(100% - 40px));
      font-family: 'Consolas';
      box-sizing: border-box;
      padding: 10px;
      overflow: hidden;
      color: #e77a29;
      padding-top: 0;
      margin-top: 0;
    }
    .transaction_processing-content img {
      width: auto;
      max-width: 12%;
      height: auto;
      margin: 0;
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes scaleUp {
      from {
        transform: scale(0.8);
      }
      to {
        transform: scale(1);
      }
    }
  </style>

  <div class="add-liquidity-container">
    <div class="add-liquidity">
      <h2>{% trans "Add Liquidity" %}</h2>

      <form id="liquidityForm">
        <div class="input-group">
          <p>STE</p>
          <input type="number" id="shareTokenAmount" placeholder="ShareToken Amount" required />
        </div>

        <div class="input-group">
          <p>USDT</p>
          <input type="number" id="usdtTokenAmount" placeholder="USDT Amount" required />
        </div>

        <button type="button" onclick="addLiquidity()" id="add_liquidity">{% trans "Add Liquidity" %} </button>
        <button type="button" id="cancel-btn">{% trans "Cancel" %}</button>
      </form>

      <div id="userLiquidity" style="margin-top: 10px;">{% trans "Your Liquidity: Loading..." %}</div>
    </div>
  </div>

  <div id="transaction_processing" class="transaction_processing">
    <div class="transaction_processing-content">
      <p class="Transaction_processing_title" style="font-size: 50px;">{% trans "Add Liquidity ..." %}</p>
      <img src="{% static 'images/exchange.png' %}" alt="exchange" />
      <p class="Transaction_hash_title">Hash:</p>
      <p id="hashDisplay"></p>
    </div>
  </div>
{% endblock %}
