{% extends 'base.html' %}

{% load static %}

{% block title %}
  <title>Add Liquidity</title>
{% endblock %}

{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script>
    async function connectWeb3() {
      if (window.ethereum) {
        const web3 = new Web3(window.ethereum)
        try {
          await window.ethereum.request({ method: 'eth_requestAccounts' })
          return web3
        } catch (error) {
          console.error('User denied account access')
        }
      } else {
        console.error('No Ethereum provider found')
      }
    }
    
    async function fetchContractData(web3) {
      const liquidityPoolAddress = localStorage.getItem('liquidityPoolAddress')
      const liquidityPoolResponse = await fetch('{% static "abi/LiquidityPoolABI.json" %}')
      const liquidityPoolAbi = await liquidityPoolResponse.json()
      const liquidityPoolContract = new web3.eth.Contract(liquidityPoolAbi, liquidityPoolAddress)
    
      return liquidityPoolContract
    }
    
    async function calculateUSDTRequired() {
      const shareTokenAmount = document.getElementById('shareTokenAmount').value
      const usdtTokenAmountField = document.getElementById('usdtTokenAmount')
      if (shareTokenAmount && shareTokenAmount > 0) {
        const web3 = await connectWeb3()
        if (!web3) return
        const contract = await fetchContractData(web3)
        const usdtAmount = await contract.methods.calculateRequiredUSDT(web3.utils.toWei(shareTokenAmount, 'ether')).call()
        usdtTokenAmountField.value = web3.utils.fromWei(usdtAmount, 'ether')
        checkBalance()
      } else {
        usdtTokenAmountField.value = ''
      }
    }
    
    async function calculateShareTokenRequired() {
      const usdtTokenAmount = document.getElementById('usdtTokenAmount').value
      const shareTokenAmountField = document.getElementById('shareTokenAmount')
      if (usdtTokenAmount && usdtTokenAmount > 0) {
        const web3 = await connectWeb3()
        if (!web3) return
        const contract = await fetchContractData(web3)
        const shareTokenAmount = await contract.methods.calculateRequiredShareToken(web3.utils.toWei(usdtTokenAmount, 'ether')).call()
        shareTokenAmountField.value = web3.utils.fromWei(shareTokenAmount, 'ether')
        checkBalance()
      } else {
        shareTokenAmountField.value = ''
      }
    }
    
    async function addLiquidity() {
      const shareTokenAmount = document.getElementById('shareTokenAmount').value
      const usdtTokenAmount = document.getElementById('usdtTokenAmount').value
    
      if (!window.ethereum) {
        alert('MetaMask is not installed!')
        return
      }
    
      const web3 = new Web3(window.ethereum)
    
      try {
        await window.ethereum.request({ method: 'eth_requestAccounts' })
        const accounts = await web3.eth.getAccounts()
        const userAccount = accounts[0]
    
        if (!localStorage.getItem('walletConnected')) {
          alert('Please connect your wallet')
          return
        }
    
        const liquidityPoolAddress = localStorage.getItem('liquidityPoolAddress')
        const response1 = await fetch('{% static "abi/LiquidityPoolABI.json" %}')
        const liquidityPoolAbi = await response1.json()
        const liquidityPoolContract = new web3.eth.Contract(liquidityPoolAbi, liquidityPoolAddress)
    
        const shareTokenAddress = localStorage.getItem('contract_address')
        const response2 = await fetch('{% static "abi/ShareTokenABI.json" %}')
        const shareTokenAbi = await response2.json()
        const shareTokenContract = new web3.eth.Contract(shareTokenAbi, shareTokenAddress)
    
        const usdtTokenAddress = localStorage.getItem('usdtTokenAddress')
        const response3 = await fetch('{% static "abi/FakeUSDTABI.json" %}')
        const usdtTokenAbi = await response3.json()
        const usdtTokenContract = new web3.eth.Contract(usdtTokenAbi, usdtTokenAddress)
    
        const shareTokenAmountInWei = web3.utils.toWei(shareTokenAmount, 'ether')
        const usdtTokenAmountInWei = web3.utils.toWei(usdtTokenAmount, 'ether')
    
        await shareTokenContract.methods.approve(liquidityPoolAddress, shareTokenAmountInWei).send({ from: userAccount })
        await usdtTokenContract.methods.approve(liquidityPoolAddress, usdtTokenAmountInWei).send({ from: userAccount })
    
        await liquidityPoolContract.methods.addLiquidity(shareTokenAmountInWei, usdtTokenAmountInWei).send({ from: userAccount })
    
        alert('Liquidity added successfully!')
        window.location.href = '/liquidity-reserves'
        getUserLiquidity()
      } catch (error) {
        console.error(error)
        alert('An error occurred while adding liquidity.')
      }
    }
    
    async function getUserLiquidity() {
      const web3 = await connectWeb3()
      if (!web3) return
      const contract = await fetchContractData(web3)
    
      try {
        const accounts = await web3.eth.getAccounts()
        const userAccount = accounts[0]
        const liquidity = await contract.methods.getUserLiquidity().call({ from: userAccount })
        document.getElementById('userLiquidity').textContent = `Your Liquidity: ${web3.utils.fromWei(liquidity, 'ether')} tokens`
      } catch (error) {
        console.error('Failed to fetch user liquidity', error)
      }
    }
    
    async function checkBalance() {
      const shareTokenAmount = document.getElementById('shareTokenAmount').value
      const usdtTokenAmount = document.getElementById('usdtTokenAmount').value
    
      const web3 = await connectWeb3()
      if (!web3) return
    
      const userAccount = (await web3.eth.getAccounts())[0]
    
      const liquidityPoolAddress = localStorage.getItem('liquidityPoolAddress')
      const response1 = await fetch('{% static "abi/LiquidityPoolABI.json" %}')
      const liquidityPoolAbi = await response1.json()
      const liquidityPoolContract = new web3.eth.Contract(liquidityPoolAbi, liquidityPoolAddress)
    
      const shareTokenAddress = localStorage.getItem('contract_address')
      const response2 = await fetch('{% static "abi/ShareTokenABI.json" %}')
      const shareTokenAbi = await response2.json()
      const shareTokenContract = new web3.eth.Contract(shareTokenAbi, shareTokenAddress)
      const shareTokenBalance = await shareTokenContract.methods.balanceOf(userAccount).call()
      const shareTokenBalanceInEther = web3.utils.fromWei(shareTokenBalance, 'ether')
    
      const usdtTokenAddress = localStorage.getItem('usdtTokenAddress')
      const response3 = await fetch('{% static "abi/FakeUSDTABI.json" %}')
      const usdtTokenAbi = await response3.json()
      const usdtTokenContract = new web3.eth.Contract(usdtTokenAbi, usdtTokenAddress)
      const usdtTokenBalance = await usdtTokenContract.methods.balanceOf(userAccount).call()
      const usdtTokenBalanceInEther = web3.utils.fromWei(usdtTokenBalance, 'ether')
    
      const addLiquidityButton = document.getElementById('add_liquidity')
      if (parseFloat(shareTokenAmount) > parseFloat(shareTokenBalanceInEther) || parseFloat(usdtTokenAmount) > parseFloat(usdtTokenBalanceInEther)) {
        addLiquidityButton.disabled = true
        addLiquidityButton.innerText = 'Insufficient balance'
      } else {
        addLiquidityButton.disabled = false
        addLiquidityButton.innerHTML = 'Add Liquidity'
      }
    }
    
    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById('shareTokenAmount').addEventListener('input', calculateUSDTRequired)
      document.getElementById('usdtTokenAmount').addEventListener('input', calculateShareTokenRequired)
      getUserLiquidity()
    })
  </script>

  <style>
    .add-liquidity-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .add-liquidity {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 350px;
      text-align: center;
      margin-top: 200px;
      justify-content: center;
    }
    
    .add-liquidity h2 {
      margin-top: 0;
      color: #30878a;
    }
    
    .input-group {
      margin-bottom: 15px;
      text-align: left;
    }
    
    .add-liquidity-container p {
      display: block;
      margin-bottom: 5px;
      color: #333;
    }
    
    .add-liquidity-container input[type='number'] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    #add_liquidity {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 4px;
      color: white;
      background-color: #30878a;
      cursor: pointer;
      font-size: 16px;
    }
    
    #add_liquidity:hover {
      background-color: #1e5758;
    }
  </style>

  <div class="add-liquidity-container">
    <div class="add-liquidity">
      <h2>Add liquidity</h2>

      <div id="userLiquidity">Your Liquidity: Loading...</div>

      <form id="liquidityForm">
        <div class="input-group">
          <p>STE</p>
          <input type="number" id="shareTokenAmount" placeholder="ShareToken Amount" required />
        </div>

        <div class="input-group">
          <p>USDT</p>
          <input type="number" id="usdtTokenAmount" placeholder="USDT Amount" required />
        </div>

        <button type="button" onclick="addLiquidity()" id="add_liquidity">Add Liquidity</button>
      </form>
    </div>
  </div>
{% endblock %}
