{% extends 'base.html' %}

{% load static %}

{% block title %}
  <title>Liquidity Reserves</title>
{% endblock %}

{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    async function fetchReserves() {
      if (!window.ethereum) {
        alert('MetaMask is not installed!')
        return
      }
    
      const web3 = new Web3(window.ethereum)
    
      try {
        await window.ethereum.request({ method: 'eth_requestAccounts' })
    
        const liquidityPoolAddress = localStorage.getItem('liquidityPoolAddress')
        const response1 = await fetch('{% static "abi/LiquidityPoolABI.json" %}')
        const liquidityPoolAbi = await response1.json()
        const liquidityPoolContract = new web3.eth.Contract(liquidityPoolAbi, liquidityPoolAddress)
    
        const shareTokenReserve = await liquidityPoolContract.methods.shareTokenReserve().call()
        const usdtTokenReserve = await liquidityPoolContract.methods.usdtTokenReserve().call()
        const totalLiquidity = await liquidityPoolContract.methods.totalLiquidity().call()
    
        const shareTokenReserveInEther = web3.utils.fromWei(shareTokenReserve, 'ether')
        const usdtTokenReserveInEther = web3.utils.fromWei(usdtTokenReserve, 'ether')
        const totalLiquidityInEther = web3.utils.fromWei(totalLiquidity, 'ether')
    
        document.getElementById('shareTokenReserve').innerText = parseFloat(shareTokenReserveInEther).toFixed(3)
        document.getElementById('usdtTokenReserve').innerText = parseFloat(usdtTokenReserveInEther).toFixed(3)
    
        createReservesPieChart(shareTokenReserveInEther, usdtTokenReserveInEther)
    
        return totalLiquidityInEther
      } catch (error) {
        console.error(error)
        alert('An error occurred while fetching reserves.')
      }
    }
    
    async function getUserLiquidity(totalLiquidity) {
      if (!window.ethereum) {
        alert('MetaMask is not installed!')
        return
      }
    
      const web3 = new Web3(window.ethereum)
    
      try {
        await window.ethereum.request({ method: 'eth_requestAccounts' })
        const accounts = await web3.eth.getAccounts()
        const userAccount = accounts[0]
    
        const liquidityPoolAddress = localStorage.getItem('liquidityPoolAddress')
        const response1 = await fetch('{% static "abi/LiquidityPoolABI.json" %}')
        const liquidityPoolAbi = await response1.json()
        const liquidityPoolContract = new web3.eth.Contract(liquidityPoolAbi, liquidityPoolAddress)
    
        const liquidity = await liquidityPoolContract.methods.getUserLiquidity().call({ from: userAccount })
        const userLiquidityInEther = web3.utils.fromWei(liquidity, 'ether')
    
        document.getElementById('userLiquidity').innerText =  parseFloat(userLiquidityInEther).toFixed(3)+ ' tokens'
        document.getElementById('totalLiquidity').innerText = parseFloat(totalLiquidity).toFixed(3)+ ' tokens'
    
        createUserLiquidityPieChart(userLiquidityInEther, totalLiquidity)
      } catch (error) {
        console.error(error)
        alert('An error occurred while fetching user liquidity.')
      }
    }
    
    function createReservesPieChart(shareTokenReserve, usdtTokenReserve) {
      const ctx = document.getElementById('reservesChart').getContext('2d')
      new Chart(ctx, {
        type: 'pie',
        data: {
          labels: ['STE', 'USDT'],
          datasets: [
            {
              data: [shareTokenReserve, usdtTokenReserve],
              backgroundColor: ['#ea7b94', '#3c9f80']
            }
          ]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              display: false
            }
          }
        }
      })
    }
    
    function createUserLiquidityPieChart(userLiquidity, totalLiquidity) {
      const ctx = document.getElementById('userLiquidityChart').getContext('2d')
      new Chart(ctx, {
        type: 'pie',
        data: {
          labels: ['Your', 'Others'],
          datasets: [
            {
              data: [userLiquidity, totalLiquidity - userLiquidity],
              backgroundColor: ['#e66a14', '#87c6cb']
            }
          ]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              display: false
            }
          }
        }
      })
    }
    
    document.addEventListener('DOMContentLoaded', async function () {
      const totalLiquidity = await fetchReserves()
      await getUserLiquidity(totalLiquidity)
    })
  </script>

  <style>
    .liquidity-chart-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 30px 0;
      gap: 3px;
    }
    
    .liquidity-chart-container p {
      text-align: center;
    }
    
    .liquidity-chart-info {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    
    .liquidity-function-btn {
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
    
    .add-liquidity-btn,
    .remove-liquidity-btn {
      padding: 15px 30px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      color: #fff;
      margin: 0 10px;
      text-decoration: none;
      width: 200px;
      text-align: center;
      font-size: 20px;
    }
    
    .add-liquidity-btn {
      background-color: #28a745;
    }
    
    .add-liquidity-btn:hover {
      background-color: #218838;
    }
    
    .remove-liquidity-btn {
      background-color: #dc3545;
    }
    
    .remove-liquidity-btn:hover {
      background-color: #c82333;
    }
    
    .chart-card {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 35%;
      text-align: center;
    }
    
    .chart-card h3 {
      margin-top: 0;
      color: #5a6268;
    }
    
    .chart-card p {
      font-size: 18px;
      color: #5a6268;
    }
  </style>

  <h1 style="text-align: center; color: #30879A; margin-top: 45px;">Liquidity Pool</h1>

  <div class="liquidity-chart-container">
    <div class="chart-card">
      <h3>Token Reserves</h3>
      <p>
        <label style="color: #ea7b94;">STE: <span id="shareTokenReserve">Loading...</span></label>
        <label style="color: #3c9f80;">USDT: <span id="usdtTokenReserve">Loading...</span></label>
      </p>
      <canvas id="reservesChart" width="320" height="320"></canvas>
    </div>
    <div class="chart-card">
      <h3>Total Liquidity</h3>
      <p>
        <label style="color: #87c6cb">Total: <span id="totalLiquidity">Loading...</span></label> <label style="color: #e66a14 ;">Your: <span id="userLiquidity">Loading...</span></label>
      </p>
      <canvas id="userLiquidityChart" width="320" height="320"></canvas>
    </div>
  </div>

  <div class="liquidity-function-btn">
    <a href="{% url 'add_liquidity' %}" class="add-liquidity-btn">+ Add Liquidity</a>
    <a href="{% url 'remove_liquidity' %}" class="remove-liquidity-btn">- Remove Liquidity</a>
  </div>
{% endblock %}
