{% extends 'base.html' %}

{% load static %}

{% block title %}
  <title>Remove Liquidity</title>
{% endblock %}

{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script>
    async function connectWeb3() {
      if (window.ethereum) {
        const web3 = new Web3(window.ethereum);
        try {
          await window.ethereum.request({ method: 'eth_requestAccounts' });
          return web3;
        } catch (error) {
          console.error('User denied account access');
        }
      } else {
        console.error('No Ethereum provider found');
      }
    }

    async function fetchContractData(web3) {
      const liquidityPoolAddress = localStorage.getItem('liquidityPoolAddress');
      const liquidityPoolResponse = await fetch('{% static "abi/LiquidityPoolABI.json" %}');
      const liquidityPoolAbi = await liquidityPoolResponse.json();
      const liquidityPoolContract = new web3.eth.Contract(liquidityPoolAbi, liquidityPoolAddress);

      return liquidityPoolContract;
    }

    async function removeLiquidity() {
      const liquidityPercent = document.getElementById('liquidityPercent').value;
      const totalLiquidity = document.getElementById('userLiquidity').dataset.totalLiquidity;

      if (!totalLiquidity) {
        alert('Failed to get user liquidity.');
        return;
      }

      if (!liquidityPercent) {
        alert('Please select a percentage to remove.');
        return;
      }

      const liquidityAmount = (BigInt(totalLiquidity) * BigInt(liquidityPercent)) / BigInt(100);

      if (!window.ethereum) {
        alert('MetaMask is not installed!');
        return;
      }

      const web3 = new Web3(window.ethereum);

      try {
        await window.ethereum.request({ method: 'eth_requestAccounts' });
        const accounts = await web3.eth.getAccounts();
        const userAccount = accounts[0];

        if (!localStorage.getItem('walletConnected')) {
          alert('Please connect your wallet');
          return;
        }

        const liquidityPoolAddress = localStorage.getItem('liquidityPoolAddress');
        const response1 = await fetch('{% static "abi/LiquidityPoolABI.json" %}');
        const liquidityPoolAbi = await response1.json();
        const liquidityPoolContract = new web3.eth.Contract(liquidityPoolAbi, liquidityPoolAddress);

        const liquidityAmountInWei = web3.utils.toWei(liquidityAmount.toString(), 'ether');

        await liquidityPoolContract.methods
        .removeLiquidity(liquidityAmountInWei)
        .send({ from: userAccount })
        .on('transactionHash', function (hash) {
          transaction_processing(hash)
        })

        document.getElementById('transaction_processing').style.display = 'none';
        alert('Liquidity removed successfully!');
        window.location.href = '/liquidity-reserves'
        getUserLiquidity();
      } catch (error) {
        console.error(error);
        alert('An error occurred while removing liquidity.');
      }
    }

    async function getUserLiquidity() {
      if (!window.ethereum) {
        alert('MetaMask is not installed!');
        return;
      }

      const web3 = new Web3(window.ethereum);

      try {
        await window.ethereum.request({ method: 'eth_requestAccounts' });
        const accounts = await web3.eth.getAccounts();
        const userAccount = accounts[0];

        const liquidityPoolAddress = localStorage.getItem('liquidityPoolAddress');
        const response1 = await fetch('{% static "abi/LiquidityPoolABI.json" %}');
        const liquidityPoolAbi = await response1.json();
        const liquidityPoolContract = new web3.eth.Contract(liquidityPoolAbi, liquidityPoolAddress);

        const liquidity = await liquidityPoolContract.methods.getUserLiquidity().call({ from: userAccount });
        document.getElementById('userLiquidity').innerText = 'Your Liquidity: ' + web3.utils.fromWei(liquidity, 'ether') + ' tokens';
        document.getElementById('userLiquidity').dataset.totalLiquidity = web3.utils.fromWei(liquidity, 'ether');
      } catch (error) {
        console.error(error);
        alert('An error occurred while fetching user liquidity.');
      }
    }

    async function calculateReceiveAmounts() {
      if (!window.ethereum) {
        alert('MetaMask is not installed!');
        return;
      }

      const web3 = new Web3(window.ethereum);

      try {
        await window.ethereum.request({ method: 'eth_requestAccounts' });
        const accounts = await web3.eth.getAccounts();
        const userAccount = accounts[0];

        const liquidityPoolAddress = localStorage.getItem('liquidityPoolAddress');
        const response1 = await fetch('{% static "abi/LiquidityPoolABI.json" %}');
        const liquidityPoolAbi = await response1.json();
        const liquidityPoolContract = new web3.eth.Contract(liquidityPoolAbi, liquidityPoolAddress);

        const totalLiquidity = BigInt(document.getElementById('userLiquidity').dataset.totalLiquidity);
        const liquidityPercent = document.getElementById('liquidityPercent').value;

        if (!liquidityPercent || !totalLiquidity) {
          alert('Please select a percentage and ensure your liquidity is loaded.');
          return;
        }

        const liquidityAmount = (totalLiquidity * BigInt(liquidityPercent)) / BigInt(100);

        const shareTokenReserve = BigInt(await liquidityPoolContract.methods.shareTokenReserve().call());
        const usdtTokenReserve = BigInt(await liquidityPoolContract.methods.usdtTokenReserve().call());
        const totalPoolLiquidity = BigInt(await liquidityPoolContract.methods.totalLiquidity().call());

        const shareTokenAmount = (liquidityAmount * shareTokenReserve) / totalPoolLiquidity;
        const usdtTokenAmount = (liquidityAmount * usdtTokenReserve) / totalPoolLiquidity;
        document.getElementById('ste_receive_amount').innerText = `${shareTokenAmount}`;
        document.getElementById('usdt_receive_amount').innerText = `${usdtTokenAmount}`;
      } catch (error) {
        console.error(error);
      }
    }

    document.addEventListener('DOMContentLoaded', function () {
      getUserLiquidity();
      document.getElementById('liquidityPercent').addEventListener('change', calculateReceiveAmounts);
      document.getElementById('cancel-btn').addEventListener('click', function() {
        window.history.back();
      })
    });

    function transaction_processing(transactionHash) {
      var transaction_processing = document.getElementById('transaction_processing')
      document.getElementById('hashDisplay').innerText = transactionHash
      transaction_processing.style.display = 'block'
    }
  </script>

  <style>
    .remove-liquidity-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .remove-liquidity {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 350px;
      text-align: center;
      margin-top: 200px;
      justify-content: center;
    }

    .remove-liquidity h2 {
      margin-top: 0;
      color: #30878a;
    }

    #liquidityForm {
      margin-bottom: 10px;
      text-align: left;
    }

    .remove-liquidity-container p {
      display: block;
      margin-bottom: 5px;
      color: #333;
    }

    .remove-liquidity-container select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 20px;
    }

    .remove_liquidity_btn {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 4px;
      color: white;
      background-color: #30878a;
      cursor: pointer;
      font-size: 16px;
    }

    .remove_liquidity_btn:hover {
      background-color: #1e5758;
    }

    .receive-amount-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 13px;
    }

    .receive-token-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 5px 0;
    }

    .receive-amount-info p {
      font-size: 18px;
    }

    .token-name {
      font-size: 16px;
    }

    .token-amount {
      font-size: 16px;
      font-weight: bold;
    }

    #cancel-btn{
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 4px;
      color: #30878a;
      border: solid 0.1px #30878a;
      background-color:white;
      cursor: pointer;
      font-size: 16px;
    }

    #cancel-btn:hover {
      border-color: #1e5758;
    }

    /*-------------------------------------*/
    .transaction_processing {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      margin-top: 20px;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
      justify-content: center;
      align-items: center;
      animation: fadeIn 0.15s ease-out forwards;
    }
    .transaction_processing-content {
      background-color: #fff8dc;
      margin: 15% auto;
      padding: 20px;
      border-radius: 10px;
      width: 50%;
      align-items: center;
      animation: scaleUp 0.15s ease-out forwards;
      text-align: center;
      margin-top: 220px;
    }
    .Transaction_processing_title {
      text-align: center;
      font-size: 50px;
      color: #8b4513;
    }
    .Transaction_hash_title {
      text-align: center;
      font-size: 40px;
      color: #e77a29;
      margin-bottom: 15px;
    }
    #hashDisplay {
      text-align: center;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      font-size: max(22px, calc(100% - 40px));
      font-family: 'Consolas';
      box-sizing: border-box;
      padding: 10px;
      overflow: hidden;
      color: #e77a29;
      padding-top: 0;
      margin-top: 0;
    }
    .transaction_processing-content img {
      width: auto;
      max-width: 12%;
      height: auto;
      margin: 0;
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes scaleUp {
      from {
        transform: scale(0.8);
      }
      to {
        transform: scale(1);
      }
    }
  </style>

  <div class="remove-liquidity-container">
    <div class="remove-liquidity">
      <h2>Remove liquidity</h2>

      <form id="liquidityForm">
        <p>Remove Percentage</p>
        <select id="liquidityPercent" required>
          <option value="" disabled selected>Select</option>
          <option value="25">25%</option>
          <option value="50">50%</option>
          <option value="100">100%</option>
        </select>

        <div class="receive-amount-info">
          <p style="margin-bottom: 5px;">You'll receive:</p>
          <div class="receive-token-info">
            <span class="token-name">STE</span>
            <span class="token-amount" id="ste_receive_amount">0</span>
          </div>
          <div class="receive-token-info">
            <span class="token-name">USDT</span>
            <span class="token-amount" id="usdt_receive_amount">0</span>
          </div>
        </div>

        <button type="button" onclick="removeLiquidity()" class="remove_liquidity_btn">Remove Liquidity</button>
        <button type="button" id="cancel-btn">Cancel</button>

        <div id="userLiquidity" data-total-liquidity="0" style="text-align: center; margin-top: 10px;">Your Liquidity: Loading...</div>
      </form>
    </div>
  </div>

  <div id="transaction_processing" class="transaction_processing">
    <div class="transaction_processing-content">
      <p class="Transaction_processing_title" style="font-size: 50px;">Removing liquidity...</p>
      <img src="{% static 'images/exchange.png' %}" alt="exchange" />
      <p class="Transaction_hash_title">Hash:</p>
      <p id="hashDisplay"></p>
    </div>
  </div>
{% endblock %}
