{% extends 'base.html' %}

{% load static %}

{% block title %}
  <title>Swap Tokens</title>
{% endblock %}

{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script>
    let isSwapForUSDT = true
    
    async function connectWeb3() {
      if (window.ethereum) {
        const web3 = new Web3(window.ethereum)
        try {
          await window.ethereum.request({ method: 'eth_requestAccounts' })
          return web3
        } catch (error) {
          console.error('User denied account access')
        }
      } else {
        console.error('No Ethereum provider found')
      }
    }
    
    async function fetchContractData(web3) {
      const liquidityPoolAddress = localStorage.getItem('liquidityPoolAddress')
      const liquidityPoolResponse = await fetch('{% static "abi/LiquidityPoolABI.json" %}')
      const liquidityPoolAbi = await liquidityPoolResponse.json()
      const liquidityPoolContract = new web3.eth.Contract(liquidityPoolAbi, liquidityPoolAddress)
    
      return liquidityPoolContract
    }
    
    async function calculateAmountReceived() {
      const inputAmount = document.getElementById('inputAmount').value
      if (inputAmount && inputAmount > 0) {
        const web3 = await connectWeb3()
        if (!web3) return
        const contract = await fetchContractData(web3)
        let outputAmount
        if (isSwapForUSDT) {
          outputAmount = await contract.methods.getSwapShareTokenForUSDT(web3.utils.toWei(inputAmount, 'ether')).call()
        } else {
          outputAmount = await contract.methods.getSwapUSDTForShareToken(web3.utils.toWei(inputAmount, 'ether')).call()
        }
        document.getElementById('outputAmount').placeholder = parseFloat(web3.utils.fromWei(outputAmount, 'ether')).toFixed(2)
      } else {
        document.getElementById('outputAmount').placeholder = ''
      }
    }
    
    async function swapTokens() {
      const inputAmount = document.getElementById('inputAmount').value
    
      if (!inputAmount || inputAmount <= 0) {
        alert('Please enter a valid amount to swap.')
        return
      }
    
      if (!window.ethereum) {
        alert('MetaMask is not installed!')
        return
      }
    
      const web3 = new Web3(window.ethereum)
    
      try {
        await window.ethereum.request({ method: 'eth_requestAccounts' })
        const accounts = await web3.eth.getAccounts()
        const userAccount = accounts[0]
    
        if (!localStorage.getItem('walletConnected')) {
          alert('Please connect your wallet')
          return
        }
    
        const liquidityPoolAddress = localStorage.getItem('liquidityPoolAddress')
        const response1 = await fetch('{% static "abi/LiquidityPoolABI.json" %}')
        const liquidityPoolAbi = await response1.json()
        const liquidityPoolContract = new web3.eth.Contract(liquidityPoolAbi, liquidityPoolAddress)
    
        const tokenAddress = isSwapForUSDT ? localStorage.getItem('contract_address') : localStorage.getItem('usdtTokenAddress')
        const response2 = await fetch(isSwapForUSDT ? '{% static "abi/ShareTokenABI.json" %}' : '{% static "abi/FakeUSDTABI.json" %}')
        const tokenAbi = await response2.json()
        const tokenContract = new web3.eth.Contract(tokenAbi, tokenAddress)
    
        const inputAmountInWei = web3.utils.toWei(inputAmount, 'ether')
    
        await tokenContract.methods.approve(liquidityPoolAddress, inputAmountInWei).send({ from: userAccount })
    
        if (isSwapForUSDT) {
          await liquidityPoolContract.methods
          .swapShareTokenForUSDT(inputAmountInWei)
          .send({ from: userAccount })
          .on('transactionHash', function (hash) {
            transaction_processing(hash)
          })
        } else {
          await liquidityPoolContract.methods
          .swapUSDTForShareToken(inputAmountInWei)
          .send({ from: userAccount })
          .on('transactionHash', function (hash) {
            transaction_processing(hash)
          })
        }
        
        document.getElementById('transaction_processing').style.display = 'none';
        alert('Tokens swapped successfully!')
        window.location.reload();
      } catch (error) {
        console.error(error)
        alert('An error occurred while swapping tokens.')
      }
    }
    
    function toggleSwapDirection() {
      isSwapForUSDT = !isSwapForUSDT
      if (isSwapForUSDT) {
        document.getElementById('inputAmount').placeholder = 'Enter ShareToken Amount'
        document.getElementById('outputAmount').placeholder = 'USDT Amount'
        document.getElementById('swapTokenName').innerText = 'STE'
        document.getElementById('forTokenName').innerText = 'USDT'
      } else {
        document.getElementById('inputAmount').placeholder = 'Enter USDT Amount'
        document.getElementById('outputAmount').placeholder = 'ShareToken Amount'
        document.getElementById('swapTokenName').innerText = 'USDT'
        document.getElementById('forTokenName').innerText = 'STE'
      }
      document.getElementById('inputAmount').value = ''
      document.getElementById('outputAmount').placeholder = ''
    }
    
    async function checkLiquidity() {
      const web3 = await connectWeb3()
      if (!web3) return
    
      const contract = await fetchContractData(web3)
      const shareTokenReserve = await contract.methods.shareTokenReserve().call()
      const usdtTokenReserve = await contract.methods.usdtTokenReserve().call()
    
      const swapButton = document.getElementById('swapButton')
      if (parseInt(shareTokenReserve) === 0 || parseInt(usdtTokenReserve) === 0) {
        swapButton.disabled = true
        swapButton.innerText = 'Insufficient liquidity'
      } else {
        swapButton.disabled = false
        swapButton.innerText = 'Swap'
        checkBalance()
      }
    }
    
    async function checkBalance() {
      const inputAmount = document.getElementById('inputAmount').value
      if (!inputAmount) return
    
      const web3 = await connectWeb3()
      if (!web3) return
    
      const userAccount = (await web3.eth.getAccounts())[0]
      const tokenAddress = isSwapForUSDT ? localStorage.getItem('contract_address') : localStorage.getItem('usdtTokenAddress')
      const response = await fetch(isSwapForUSDT ? '{% static "abi/ShareTokenABI.json" %}' : '{% static "abi/FakeUSDTABI.json" %}')
      const tokenAbi = await response.json()
      const tokenContract = new web3.eth.Contract(tokenAbi, tokenAddress)
    
      const balance = await tokenContract.methods.balanceOf(userAccount).call()
      const balanceInEther = web3.utils.fromWei(balance, 'ether')
    
      const swapButton = document.getElementById('swapButton')
      if (parseFloat(inputAmount) > parseFloat(balanceInEther)) {
        swapButton.disabled = true
        swapButton.innerText = 'Insufficient balance'
      } else {
        swapButton.disabled = false
        swapButton.innerHTML = 'Swap'
      }
    }
    
    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById('inputAmount').addEventListener('input', calculateAmountReceived)
      document.getElementById('inputAmount').addEventListener('input', checkLiquidity)
    })

    function transaction_processing(transactionHash) {
      var transaction_processing = document.getElementById('transaction_processing')
      document.getElementById('hashDisplay').innerText = transactionHash
      transaction_processing.style.display = 'block'
    }
  </script>

  <style>
    .swap-token-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .swap-container {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 350px;
      text-align: center;
      margin-top: 200px;
      justify-content: center;
    }
    
    .swap-token-container h2 {
      margin-top: 0;
      color: #30878A;
    }
    
    .input-group {
      margin-bottom: 15px;
      text-align: left;
    }
    
    .swap-token-container p {
      display: block;
      margin-bottom: 5px;
      color: #333;
    }
    
    .swap-token-container input[type='number'] {
      /*width: calc(100% - 10px);*/
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .toggleSwap{
      cursor: pointer;
      border-width: 0;
      background: white;
    }
    
    #swapButton {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 4px;
      color: white;
      background-color: #30878A;
      cursor: pointer;
      font-size: 16px;
    }
    
    #swapButton:hover {
      background-color: #1e5758;
    }

        /*-------------------------------------*/
        .transaction_processing {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          margin-top: 20px;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, 0.4);
          justify-content: center;
          align-items: center;
          animation: fadeIn 0.15s ease-out forwards;
        }
        .transaction_processing-content {
          background-color: #fff8dc;
          margin: 15% auto;
          padding: 20px;
          border-radius: 10px;
          width: 50%;
          align-items: center;
          animation: scaleUp 0.15s ease-out forwards;
          text-align: center;
          margin-top: 220px;
        }
        .Transaction_processing_title {
          text-align: center;
          font-size: 50px;
          color: #8b4513;
        }
        .Transaction_hash_title {
          text-align: center;
          font-size: 40px;
          color: #e77a29;
          margin-bottom: 15px;
        }
        #hashDisplay {
          text-align: center;
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
          font-size: max(22px, calc(100% - 40px));
          font-family: 'Consolas';
          box-sizing: border-box;
          padding: 10px;
          overflow: hidden;
          color: #e77a29;
          padding-top: 0;
          margin-top: 0;
        }
        .transaction_processing-content img {
          width: auto;
          max-width: 12%;
          height: auto;
          margin: 0;
        }
        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
        @keyframes scaleUp {
          from {
            transform: scale(0.8);
          }
          to {
            transform: scale(1);
          }
        }
  </style>

  <div class="swap-token-container">
    <div class="swap-container">
      <h2>Swap token</h2>
      <form id="swapForm">
        <div class="input-group">
          <p id="swapTokenName">STE</p>
          <input type="number" id="inputAmount" placeholder="Enter ShareToken Amount" required />
        </div>

        <button type="button" class="toggleSwap" onclick="toggleSwapDirection()">
          <img src="{% static 'images/arrow-icon.svg' %}" alt="arrow-icon" style="width:40px;" />
        </button>

        <div class="input-group">
          <p id="forTokenName" style="margin-top: 0px;">USDT</p>
          <input type="number" id="outputAmount" placeholder="" readonly />
        </div>

        <button type="button" id="swapButton" onclick="swapTokens()">Swap</button>
      </form>
    </div>
  </div>

  <div id="transaction_processing" class="transaction_processing">
    <div class="transaction_processing-content">
      <p class="Transaction_processing_title" style="font-size: 50px;">Swapping token...</p>
      <img src="{% static 'images/exchange.png' %}" alt="exchange" />
      <p class="Transaction_hash_title">Hash:</p>
      <p id="hashDisplay"></p>
    </div>
  </div>
{% endblock %}
