{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
      <title>share to earn</title>
    {% endblock %}


    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <script src="{% static 'js/web3.min.js' %}"></script>
    <script src="{% static 'js/connect_wallet.js' %}"></script>

    <script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js"></script>
    <script src="https://unpkg.com/chartjs-gauge@0.3.0/dist/chartjs-gauge.js"></script>
    <script>
      function changeLanguage(languageCode, event) {
        event.preventDefault();  
        var form = document.getElementById('languageForm');
        var input = document.getElementById('languageInput');
        input.value = languageCode; 
        form.submit(); 
    }
    </script>
  </head>

  <body>
    <div class="content-wrap">
      <header class="header">
        {% if request.user.is_authenticated %}
          <nav class="login-nav">
            <div class="navbar-left">
              <a href="{% url 'home' %}" class="navbar-logo"><img src="{% static 'images/logo.PNG' %}" alt="Logo" style="width:auto; max-width: 250px;" /></a>

              <a href="{% url 'available_borrow_items' %}" class="menu-item">{% trans "Borrow" %}</a>
              <a href="{% url 'latest_status_user_orders' %}" class="menu-item">{% trans "Order" %}</a>
              <a href="{% url 'user_proposals_list' 'active' %}" class="menu-item">Polling</a>
            </div>
            <div class="navbar-right">
            
              <div class="connect-wallet-btn">
                <button id="connectWalletBtn" class="connectWalletBtn" style="background-color: green; color: white; border: 0px; padding: 10px; border-radius: 5px;">Connect Wallet</button>
                <select id="disconnectSelect" class="disconnectSelect" style="display: none;"></select>
              </div>
            
              
              <div class="language-dropdown">
                <button class="language-dropbtn">🌏</button>
                <div class="language-dropdown-content">
                    <form id="languageForm" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.path }}">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <a href="#" onclick="changeLanguage('{{ language.code }}', event)">{{ language.name_local }} ({{ language.code }})</a>
                        {% endfor %}
                        <input type="hidden" name="language" id="languageInput" value="{{ LANGUAGE_CODE }}">
                    </form>
                </div>
              </div>
              
            
              {% comment %}
              <form id="languageForm" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.path }}" />
                <select name="language" onchange="document.getElementById('languageForm').submit()">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                      {{ language.name_local }} ({{ language.code }})
                    </option>
                  {% endfor %}
                </select>
              </form>
              {% endcomment %}
              

              <div class="dropdown">
                <a href="#" class="dropbtn">Hi {{ request.user }}</a>

                <div class="dropdown-content">
                  <a href="{% url 'profile' %}" title="Update my profile">Profile</a>
                  <a href="{% url 'items' %}">My item</a>
                  <a href="{% url 'contributor_order_status' %}">Contribute status</a>
                  <a href="{% url 'logout' %}" id="logoutBtn" style="color: red; font-weight: bold;">Logout</a>
                </div>
              </div>
            </div>
          </nav>
        {% else %}
          <nav class="logout-nav">
            <a href="{% url 'home' %}" class="navbar-logo"><img src="{% static 'images/logo.PNG' %}" alt="Logo" style="width:auto; max-width: 250px;" /></a>

            <div class="navbar-right">
              <div class="language-dropdown">
                <button class="language-dropbtn">🌏</button>
                <div class="language-dropdown-content">
                  <form id="languageForm" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                      <a href="#" onclick="changeLanguage('{{ language.code }}')">{{ language.name_local }} ({{ language.code }})</a>
                    {% endfor %}
                    <input type="hidden" name="language" id="languageInput" value="{{ LANGUAGE_CODE }}">
                  </form>
                </div>
              </div>
              <a href="{% url 'login' %}" class="login">Login</a>
            </div>
          </nav>
        {% endif %}
      </header>
      <main>
        <div class="container">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
          
          {% block content %}

          {% endblock %}
        </div>
      </main>
    </div>

    <script>
      var data = [10, 20, 30, 40]
      var value = {{airdrop_amount}}
      
      var createGradient = function (ctx) {
        var gradient = ctx.createLinearGradient(0, 0, ctx.canvas.width, 0)
        gradient.addColorStop(0, 'red')
        gradient.addColorStop(0.33, 'orange')
        gradient.addColorStop(0.66, 'yellow')
        gradient.addColorStop(1, 'green')
        return gradient
      }
      
      var config = {
        type: 'gauge',
        data: {
          labels: ['Success', 'Warning', 'Warning', 'Error'],
          datasets: [
            {
              data: data,
              value: value,
              backgroundColor: function (ctx) {
                return createGradient(ctx.chart.ctx)
              },
              borderWidth: 0
            }
          ]
        },
        options: {
          responsive: true,
          title: {
            display: false,
            text: 'Gauge chart'
          },
          layout: {
            padding: {
              bottom: 30
            }
          },
          needle: {
            radiusPercentage: 2,
            widthPercentage: 3.2,
            lengthPercentage: 80,
            color: 'rgba(0, 0, 0, 1)'
          },
          valueLabel: {
            display: false
          },
          animation: {
            duration: 0
          }
        }
      }
      
      window.onload = function () {
        var ctx = document.getElementById('gauge-chart').getContext('2d')
        window.myGauge = new Chart(ctx, config)
      }
    </script>

    <footer class="footer">
      <div class="footer-container">
        <div class="left-content">
          <button id="addNetworkBtn" class="addNetworkBtn">
            <img src="{% static 'images/metamask-icon.svg' %}" alt="Metamask" style="width:20px; margin-right: 10px;" />
            Add BSC Testnet Network
          </button>
        </div>

        {% if request.user.is_authenticated %}
          <div class="right-content">
            <span style="margin-right: 0px; color: #45494d;">Airdrop Amount:<span style="font-weight: bold;">{{ airdrop_amount }}</span></span>
            <div id="gauge-chart-container" style="height: 60px; width: 130px;">
              <canvas id="gauge-chart" style="height: 60px; width: 150px;"></canvas>
            </div>
          </div>
        {% endif %}
      </div>
    </footer>
  </body>
</html>
