{% extends 'base.html' %}

{% block content %}
  <div class="center">
    <form method="post" class="card">
      {% csrf_token %}
      {% if item.item_available %}
        <h2 class="text-center">Delete item</h2>
        <p class="subtitle">Are you sure that you want to delete "{{ item.item_name }}"?</p>
        <input type="submit" class="card-primary-btn" value="Delete" />
        <a href="{% url 'items' %}" class="card-outline-btn">Cancel</a>
      {% else %}
        <h2 class="text-center">Can not delete</h2>
        <p>Item is currently lent out</p>
        <a href="{% url 'items' %}" class="card-outline-btn">ok</a>
      {% endif %}
    </form>
  </div>
{% endblock %}
