{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class="center">
    <form method="post" class="card">
      {% csrf_token %}
      {% if item.item_available %}
        <h2 class="text-center">{% trans "Delete item" %}</h2>
        <p class="subtitle">{% trans "Are you sure that you want to delete" %}{{ item.item_name }}"?</p>
        <input type="submit" class="card-primary-btn" value="{% trans "Delete" %}" />
        <a href="{% url 'items' %}" class="card-outline-btn">{% trans "Cancel" %}</a>
      {% else %}
        <h2 class="text-center">{% trans "Can not delete" %}</h2>
        <p>{% trans "Item is currently lent out" %}</p>
        <a href="{% url 'items' %}" class="card-outline-btn">{% trans "ok" %}</a>
      {% endif %}
    </form>
  </div>
{% endblock %}
