{% extends 'base.html' %}

{% block content %}
  <h2>My Contribute item</h2>

  {% if items %}
    <ul class="">
      <a href="{% url 'item-create' %}">＋</a>
      <hr />

      {% for item in items %}
        <li>
          <a href="{% url 'item' item.item_id %}">{{ item.item_name }}</a>
          <a href="{% url 'item-update' item.item_id %}">Edit</a>
          <a href="{% url 'item-delete' item.item_id %}">delete</a>
        </li>
      {% endfor %}
    </ul>

    <a href="{% url 'view_pending_orders' %}">Approve Request here</a>
  
  {% else %}
    <p>
      no contribute item! <a href="{% url 'item-create' %}">contribute my item</a>
    </p>
  {% endif %}

  <br />
  <br />
  <br />

  <h1>註冊或登入成功會到這裡（顯示自己貢獻的物品）</h1>
  <p>以下是測試訊息</p>
  <p>Hi {{ request.user.email }}</p>
  <p>Your place: {{ request.user.profile.user_place }}</p>
  <p>Your airdrop_wallet_address: {{ request.user.profile.airdrop_wallet_address }}</p>
{% endblock %}
